/**
 * TABLE
 *
 * Basic style for tables
 */

/* ------------------------------------ *\
   #TABLE
\* ------------------------------------ */
.table {
    border-collapse: collapse;
    border: 1px solid $color-border-normal;
    font-size: $font-size-s;
  
    &.table-full {
        width: 100%;
    }
  
    thead {
        background-color: $color-background-medium;
        border-bottom: 1px solid $color-border-normal;
    }
  
    th {
        font-weight: $font-weight-normal;
        font-size: $font-size-m;
    }
     
    th, td {
        padding: 12px 10px;
        text-align: left;
    }
      
    tr:nth-child(even) {
        background-color: $color-background-light;
    }

    tr.clickable {
        th {
            cursor: pointer;
        }
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}