/**
 * SEARCH PAGE
 *
 * Layout for search page
 */

/* ------------------------------------ *\
   #SEARCH-PAGE
\* ------------------------------------ */

.rt-search-panel {
    margin-top: $spacing-unit * 2;
    background: #ffffff;
    //@include box-shadow-2;
}

.rt-search-panel__field {
    .rt-search-panel__field-label {
        margin-bottom: $spacing-unit/2;
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        color: $color-text-light;
    }

    .form-group {
        position: relative;

        .rt-btn-clear-search {
            padding: $spacing-unit/2;
            position: absolute;
            @include vertical-centering;
            right: $spacing-unit/5;
            background: transparent;
            border: none;
            font-size: $font-size-l;
            color: $color-text-light;
            transition: all $transition-durations ease;

            &:hover,
            &:focus {
                color: $color-main;
            }
        }

        input[type="text"] {
            padding-right: $spacing-unit * 4;
        }
    }
}

.ui-widget.ui-autocomplete {
    z-index: auto;

    .ui-menu-item {
        .ui-menu-item-wrapper {
            padding: $spacing-unit;
        }

        .ui-state-active {
            //border-color: $color-gradient-2;
            //background: $color-gradient-2;
        }
    }
}

.rt-search-panel__description {
    font-weight: $font-weight-medium;
}

/* ------------------------------------ *\
   #SEARCH-PAGE-RESULTS
\* ------------------------------------ */

.rt-search-results__result {
    a {
        color: $color-text;
        &:hover,
        &:focus {
            color: $color-main;
        }
    }

    &:last-of-type {
        .rt-search-results__result-wrapper {
            border-bottom: none;
        }
    }
}

.rt-search-results__result-wrapper {
    margin-bottom: $spacing-unit * 1.5;
    padding-bottom: $spacing-unit/2;
    //border-bottom: 1px solid $color-text;
}

.rt-search-results__result-title {
    font-size: $font-size-m;
    font-weight: $font-weight-bold;

    a {
        color: $color-text;
    }
}

.rt-search-results__result-infos,
.rt-search-results__result-province {
    font-size: $font-size-s;
    //text-transform: uppercase;
}

.rt-search-results__result-infos {
    display: flex;
    padding: $spacing-unit/2 0;
}

.rt-search-results__result-filter {
    padding-right: $spacing-unit/2;

    & + .rt-search-results__result-category {
        margin-left: $spacing-unit/2;
        padding-left: $spacing-unit/2;
        border-left: 1px solid $color-text;
    }
}

.rt-btn.rt-toggle-filters-mobile {
    display: none;
}

.rt-search-map-results__results {
    .rt-section-title-wrapper {
        border-bottom: 1px solid $color-border-normal;
    }
}

.rt-search-map-result-container {
    padding-top: $spacing-unit;
}

.rt-search-map-result-box {
    margin-bottom: $spacing-unit;
    padding-bottom: $spacing-unit;
    border-bottom: 1px solid $color-border-normal;
    color: $color-text-dark;

    &:last-of-type {
        border-bottom: none;
    }
}

.rt-search-map-result-box__title {
    margin-bottom: $spacing-unit/2;
    font-size: $font-size-m;
}

.rt-search-map-result-box__category {
    margin-top: $spacing-unit/2;
}

.rt-search-map-result-box__label {
    font-style: italic;
}

.rt-search-map-result-box__link {
    margin-top: $spacing-unit;

    a {
        color: $color-text;
        text-decoration: underline;

        [class*="fa"] {
            margin-right: $spacing-unit;
        }

        &:hover,
        &:focus {
            color: $color-text-link;
            text-decoration: underline;
        }
    }
}

.rt-search-map-result-box__label,
.rt-search-map-result-box__description {
    font-size: $font-size-xs;
}

.rt-search-panel__filters-label {
    color: $color-text-light;
    font-size: $font-size-s;
}

.rt-search__select-wrapper {
    width: 100%;
    position: relative;
    background-color: #fff;

    &::before {
        @include font-awesome("\f0d7");
        font-weight: 900;
        position: absolute;
        //z-index: 1;
        right: $spacing-unit;
        @include vertical-centering;
    }
}

.rt-search__select {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 54px;
    padding: $spacing-unit/2 $spacing-unit;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid $color-border-normal;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    position: relative;
    font-size: $font-size-ml;

    &::-ms-expand {
        display: none;
    }

    &:hover {
        border-color: #888;
    }

    &:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }

    option {
        font-weight: normal;
    }
}

.rt-search-panel__field {
    input[type="text"] {
        height: 54px;
        padding: $spacing-unit/2 $spacing-unit;
        border-color: $color-border-normal;
        border-radius: 0;
        font-size: $font-size-ml;

        @include placeholder {
            font-size: $font-size-ml;
        }
    }
}

.rt-search-map-result__comune {
    text-transform: uppercase;
}

/* Ricerca stanze */
/* Liferay's search - overriding layout style */

/* Ordinamento e direzione */
.portlet-order-open-facet {
    .control-label {
        font-weight: $font-weight-medium;
        font-size: $font-size-s;
    }

    select.form-control:not([multiple]):not([size]) {
        height: 35px;
        padding-left: 0;
        background-color: #ffffff;
        border-bottom: 1px solid $color-border-normal;
        font-size: $font-size-s;
        line-height: 1;
    }
}

[id="content"] .portlet-search-bar:not(.rt-portlet-search-servizi-ot) {
    .portlet-body {
        margin-bottom: 0;
    }
}

.partecipa-toscana-1-column-62
    .ot-100-layouttpl#_com_liferay_nested_portlets_web_portlet_NestedPortletsPortlet_INSTANCE_Yjpbifuan8HE__main-content {
    .portlet-body {
        margin-top: $spacing-unit * 2;
        margin-bottom: $spacing-unit * 2;
    }
}

[id="content"] .portlet-search-bar:not(.rt-portlet-search-servizi-ot),
.partecipa-toscana-1-column-62
    .ot-100-layouttpl#_com_liferay_nested_portlets_web_portlet_NestedPortletsPortlet_INSTANCE_Yjpbifuan8HE__main-content {
    @include wrapper;

    &.portlet-decorate .portlet-content {
        border-width: 0;
    }

    .lexicon-icon {
        font-size: 1.5rem;
    }

    .portlet-body {
        @include section-fullwidth;
        // margin-top: $spacing-unit * 2;

        // background: $color-partecipazione;
        background-color: $color-background-medium;
        border-top: 1px solid $color-border-normal;
        border-bottom: 1px solid $color-border-normal;
    }

    .search-bar-simple {
        @include centered-container($ui-width);
        margin-left: auto;
        .input-group-item {
            margin-left: 0;
        }

        input[type="text"] {
            background: #ffffff;
            border-radius: 0;
            height: $form-input-search-stanza-height;
            line-height: $form-input-search-stanza-height;

            @include placeholder {
                font-size: $font-size-ml;
            }

            &:focus {
                box-shadow: $box-shadow-filters;
            }
        }
		
		input.search-bar-keywords-input {
			order: 1;
			padding-left: 10px;
			padding-right: 0;
			position: relative;
			left: -1px;
		}
    }
	
}

.ot-100-layouttpl div#layout-column_column-1 .portlet-search-bar .form {
	height: 63px;
	margin-top: -10px;
}

.partecipa-toscana-1-column-62
    .ot-100-layouttpl#_com_liferay_nested_portlets_web_portlet_NestedPortletsPortlet_INSTANCE_Yjpbifuan8HE__main-content,
[id="content"] .portlet-search-results,
// .portlet-order-open-facet,
[id="content"] .portlet-search-open-results {
    @include wrapper;

    .search-total-label {
        margin-top: 0;
        margin-bottom: $spacing-unit * 2;
    }

    .list-group {
        border-radius: 0;
    }

    .list-group-item {
        margin-bottom: $spacing-unit * 2;
        padding: $spacing-unit * 2;
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.125);

        &:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .autofit-col {
            &:first-of-type {
                display: none;
            }
        }
    }

    .lfr-search-container-wrapper .list-group .list-group-item h4 {
        font-size: $font-size-m;
    }
}
// }

[id="content"] .portlet-search-bar:not(.rt-portlet-search-servizi-ot) .portlet-body {
    width: 100vw;
}

/* Layout ricerca stanze - 30/70 */
/* Search body - contains facets and results*/
[id="content"] .portlet-search-bar ~ .portlet-nested-portlets > .portlet {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    background-color: #ffffff;
}

/* Facets */
.sidebar-regione-toscana [class*="-facet"] {
    .facet-value input[type="checkbox"],
    .facet-value input[type="radio"] {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .term-name {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-weight: $font-weight-bold;
        border-bottom: 1px solid $color-border-normal;
        font-size: $font-size-m;
		width: 100%;
		color: inherit;

        &:hover,
        &:focus {
            color: $color-partecipazione-hover;
			text-decoration: none;
        }
    }

    .term-name.facet-term-selected {
        color: $color-partecipazione-dark;
        border-bottom-color: $color-partecipazione-dark;
        &:hover,
        &:focus {
            color: $color-partecipazione-hover;
        }
    }

    .panel-default {
        border: none;
    }

    .panel-default .panel-heading {
        background-color: transparent;
    }

    .panel-body {
        margin-bottom: $spacing-unit * 2;
        padding-right: 0;
        padding-left: 0;
    }

    .panel-title .collapse-icon {
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid $color-border-normal;
        font-weight: $font-weight-medium;
        font-size: $font-size-ml;
    }

    .panel-title .lexicon-icon,
    .collapse-icon .collapse-icon-closed,
    .collapse-icon .collapse-icon-open {
        right: 0;
        font-size: $font-size-m;
    }

    .term-count {
        @include accessible-text;
    }
}

.sidebar-regione-toscana {
	.col-md-9 {
		.form {
			label {
				font-weight: 500;
				margin-right: 15px;
			}
			select {
				height: 35px !important;
				padding-left: 0 !important;
				background-color: #fff !important;
				border-bottom: 1px solid #c1c1c1 !important;
				font-size: .875rem !important;
				line-height: 1 !important;
				display: inline-block;
				max-width: 275px;
			}
			.form-group.input-select-wrapper {
				width: 385px;
				float: right;
			}
		}
	}
	.col-md-3 {
		.panel-header-link {
			color: inherit;
			border-bottom: 1px solid #C1C1C1 !important;
			padding-left: 0 !important;
			font-size: 1.25rem;
		}
	}
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $ui-width + $spacing-unit*4) {
    .sidebar-regione-toscana.rt-content.container {
        padding: 0 $spacing-unit * 2;
    }
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .sidebar-regione-toscana.rt-content.container {
        padding: $spacing-unit;
    }
}

@media all and (max-width: $breakpoint-ipad-portrait) {
    .rt-search-map-results__map {
        iframe {
            height: 20vh !important;
        }
    }

    .rt-search__select {
        height: 44px;
        font-size: $font-size-m;
    }

    .rt-search-panel__field {
        input[type="text"] {
            height: 44px;
            font-size: $font-size-m;

            @include placeholder {
                font-size: $font-size-m;
            }
        }
    }
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    /* Ordinamento e direzione */
    .portlet-order-open-facet {
        .row {
            display: flex;
            flex-direction: row;
        }

        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    /* Facets */
    .sidebar-regione-toscana [class*="-facet"] {
        .panel-body,
        .facet-checkbox-label {
            margin-bottom: 0;
        }

        .tag-list {
            display: flex;
            overflow-x: auto;
            border-bottom: 1px solid $color-border-normal;
        }

        .term-name {
            margin-bottom: 0;
            border-bottom: 0;
        }

        .facet-value {
            white-space: nowrap;

            & + .facet-value {
                margin-left: $spacing-unit * 1.5;
            }
        }
    }

    /* Add gradient to horizontal scroll section */
    .sidebar-regione-toscana .col-md-3 [class*="-facet"] {
        .fieldset > div {
            position: relative;
            &::after {
                content: "";
                display: block;
                width: $spacing-unit * 2;
                position: absolute;
                right: 0;
                bottom: 0px;
                top: -12px;
                background: linear-gradient(to right, transparent, rgba(0,0,0,0.125));
            }
        }
    }
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {
    .rt-search-panel {
        margin-top: $spacing-unit * 3;
        padding: $spacing-unit * 2.5 $spacing-unit * 2;
    }

    .rt-search-panel__form {
        display: flex;
        margin-left: auto;
    }

    //.rt-search-panel__form,
    .rt-search-panel__filters,
    .rt-search-panel__form,
    .rt-search-panel__field {
        width: 100%;
        max-width: 1115px;
        margin-right: auto;
        margin-left: auto;
    }

    .rt-search-panel__field {
        margin-top: 0;
        margin-bottom: $spacing-unit * 2.5;

        .form-group {
            margin-bottom: $spacing-unit;
        }

        .rt-search-panel__field-label {
            font-size: $font-size-m;
        }

        .form-group {
            position: relative;

            .rt-btn-clear-search {
                right: $spacing-unit;
                font-size: $font-size-ml;
            }
        }
    }

    .rt-search-results__result-wrapper {
        padding-bottom: $spacing-unit;
    }

    .rt-search-results__result-title {
        font-size: $font-size-ml;
    }

    .rt-search-results__result-infos,
    .rt-search-results__result-province {
        font-size: $font-size-m;
    }

    .rt-search-panel__form {
    }

    .rt-search-panel__filters-label {
        font-size: $font-size-m;
    }

    .rt-search-results__result {
        &:nth-last-of-type(2) {
            .rt-search-results__result-wrapper {
                border-bottom: none;
            }
        }
    }

    .rt-search-panel__filters {
        display: flex;
        align-items: flex-start;
    }

    .rt-search-map-results {
        display: flex;
    }

    .risultati {
        position: relative;

        &::after {
            content: "";
            height: $spacing-unit * 8;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-image: linear-gradient(-180deg, rgba(247, 247, 247, 0) 0%, #f7f7f7 60%);
        }
    }

    .rt-search-map-result-container {
        height: 680px;
        overflow-x: visible;
        overflow-y: auto;
        padding-top: $spacing-unit * 2;
        padding-bottom: $spacing-unit * 8;
    }

    .rt-search-map-results__map {
        flex: 0 0 60%;
        max-width: 60%;
    }

    .rt-search-map-results__results {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .rt-search-map-result-box {
        margin-bottom: $spacing-unit * 2;
        padding-bottom: $spacing-unit * 2;

        &:last-of-type {
            margin-bottom: $spacing-unit * 9;
            border-bottom: none;
        }
    }

    .rt-search-map-result-box__title {
        margin-bottom: $spacing-unit;
        font-size: $font-size-l;
    }

    .rt-search-map-result-box__link {
        margin-top: $spacing-unit * 1.5;

        &.rt-search-map-result-box__link-provincia {
            margin-top: $spacing-unit/2;
            margin-bottom: $spacing-unit * 1.5;
        }
    }

    .rt-search-map-result-box__label,
    .rt-search-map-result-box__description {
        font-size: $font-size-s;
    }

    .rt-search-map-result-box__description {
        margin-bottom: $spacing-unit;
    }

    /* Layout ricerca stanze - 30/70 */
    /* Search body - contains facets and results*/
    [id="content"] .portlet-search-bar ~ .portlet-nested-portlets > .portlet {
        padding-top: $spacing-unit * 2;
        padding-bottom: $spacing-unit * 2;
    }

    /* Liferay's search - overriding layout style */
    [id="content"] .portlet-search-bar:not(.rt-portlet-search-servizi-ot),
    .partecipa-toscana-1-column-62
        .ot-100-layouttpl#_com_liferay_nested_portlets_web_portlet_NestedPortletsPortlet_INSTANCE_Yjpbifuan8HE__main-content {
        .portlet-body {
            // margin-bottom: $spacing-unit*2;
            padding: $spacing-unit * 2;
        }

        .search-bar-simple {
            justify-content: flex-start;

            .input-group-item {
                width: 50%;
                flex-grow: 0;
            }
        }
    }

    .partecipa-toscana-1-column-62
        .ot-100-layouttpl#_com_liferay_nested_portlets_web_portlet_NestedPortletsPortlet_INSTANCE_Yjpbifuan8HE__main-content,
    [id="content"] .portlet-search-results,
    [id="content"] .portlet-search-open-results {
        .portlet-body {
            display: flex;
            flex-flow: row wrap;
        }

        .search-total-label {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .rt-box--stanza-row {
            &:last-of-type {
                margin-bottom: $spacing-unit * 1.5;
            }
        }
    }

    #p_p_id_it_regione_toscana_search_results_open_web_SearchResultsPortlet_INSTANCE_WCFly2gcFGco_ {
        margin-bottom: $spacing-unit * 3;
    }

    /* Input text ricerca */
    [id="content"] .portlet-search-bar:not(.rt-portlet-search-servizi-ot) .search-bar-simple .input-group-item {
        margin-left: auto;
    }

    /* Ricerca stanze - spaziatura colonne */
    [id="content"] .portlet-search-open-results .portlet-body,
    .portlet-order-open-facet {
        padding-left: $spacing-unit * 3;
    }

    /* Ricerca stanze - ordinamento e direzione */
    .portlet-order-open-facet {
        .input-select-wrapper {
            display: flex;
            align-items: baseline;
        }

        .control-label {
            margin-right: $spacing-unit;
        }
    }

    /* Facets */
    // .sidebar-regione-toscana [class*="-facet"] {
    //     .panel-body {
    //         max-height: 250px;
    //     }
    // }
}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop-wide - 1) {
    /* Ricerca stanze - override layout liferay */
    .partecipa-toscana-1-column-62
        .ot-100-layouttpl#_com_liferay_nested_portlets_web_portlet_NestedPortletsPortlet_INSTANCE_Yjpbifuan8HE__main-content,
    [id="content"] .portlet-search-results,
    [id="content"] .portlet-search-open-results {
        .rt-box--stanza-row {
            // flex: 0 0 49%;
            // max-width: 49%;
            // margin-right: 2%;
            margin-bottom: $spacing-unit * 1.5;

            // &:nth-of-type(2n + 2) {
            //     margin-right: 0;
            // }
        }
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {
    .partecipa-toscana-1-column-62
        .ot-100-layouttpl#_com_liferay_nested_portlets_web_portlet_NestedPortletsPortlet_INSTANCE_Yjpbifuan8HE__main-content,
    [id="content"] .portlet-search-results,
    [id="content"] .portlet-search-open-results {
        .rt-box--stanza-row {
            flex: 0 0 49%;
            max-width: 49%;
            margin-right: 2%;
            &:nth-of-type(2n + 2) {
                margin-right: 0;
            }
        }
    }

    /* Ordinamento e direzione */
    .portlet-order-open-facet {
        .row {
            justify-content: flex-end;
        }

        .col-md-6 {
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
}
