/**
 * BREADCRUMB
 *
 * Style for breadcrumb component
 */

/* ------------------------------------ *\
   #BREADCRUMB
\* ------------------------------------ */
.rt-breadcrumb {
    padding: $spacing-unit*2 0;

    .rt-breadcrumb__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: $font-size-xs;
    }

    .rt-breadcrumb__item {
        margin-left: $spacing-unit/2;
        
        @include text-ellipsis(155px);

        &:not(.rt-breadcrumb__item-title) {
            text-transform: lowercase;
        }

        & + .rt-breadcrumb__item {
            &::before {
                content: '/';
                margin-right: $spacing-unit/2;
                color: $color-text-form-placeholder;
            }
        }

        &.rt-breadcrumb__item-title {
            text-transform: uppercase;
            
            span {
                font-weight: $font-weight-bold;
                color: $color-main;
            }
        }

        a {
            color: $color-text-form-placeholder;
        }
    }
}

/* Liferay breadcrumb */
.portlet-breadcrumb {
    background: #ffffff;
}

.breadcrumb {
    background: #ffffff;

    .portlet-breadcrumb & {
        max-width: $ui-width;
        margin: 0 auto;
        padding: $spacing-unit*2 0;
        font-size: $font-size-xs;
    }
}

a.breadcrumb-link {
    color: #eb2224;
    text-decoration: none;
}

.breadcrumb-link:hover {
    color: #c81214;
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */


@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {

}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {
    .rt-breadcrumb {
        .rt-breadcrumb__list {
            font-size: $font-size-s;
        }
    }

    .breadcrumb {
        .portlet-breadcrumb & {
            font-size: $font-size-s;
        }
    }
}

@media all and (min-width: $breakpoint-laptop) {

}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop-wide - 1) {
}

@media all and (min-width: $breakpoint-laptop-wide) {
}

@media all and (min-width: $ui-width) {
}

