/**
 * GALLERY
 *
 * Gallery component style
 */

/* ------------------------------------ *\
   #GALLERY
\* ------------------------------------ */
.rt-gallery {
    transition: all $transition-durations ease;
    position: relative;

    .rt-gallery__slider {
        padding: $spacing-unit $spacing-unit*1.5;
        background: #ffffff;
    }

    .slick-arrow {
        width: 24px;
        height: 34px;
        // border-radius: 50%;
        background: transparentize($color-gray-02, 0.2);
        z-index: 1;
        color: $color-generic-blue;

        &::before {
            color: inherit;
        }

    }

    .slick-prev {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        left: 0;

        &::before {
            @include font-awesome('\f053');
        }
    }

    .slick-next {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        right: 0;

        &::before {
            @include font-awesome('\f054');
        }
    }

    .slick-next,
    .slick-prev {
        transition: all $transition-durations ease-in;

        &:hover, 
        &:focus {
            background: $color-background-medium;
            color: $color-main;
        }
    }
}

.rt-gallery__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    .rt-gallery__item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: $spacing-unit/2;

        a {
            display: block;
            height: 0;
            padding-bottom: 61.619%;
            position: relative;
            background: #ffffff;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                position: absolute;
            //  top: 0;
                left: 0;

                @include vertical-centering;
            }
        }
    }

    .rt-gallery__item-caption {
        padding: $spacing-unit;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(255,255,255,0.8);
        color: $color-text;
        font-size: $font-size-xxs;
        line-height: 1.2;
        font-weight: $font-weight-medium;
        // @include text-ellipsis(100%);
    }
}

/* lightbox customizations */

.lightbox {
    .lb-image {
        border: none;
        border-radius: 0;
    }
}

/* Video Gallery */
.rt-gallery__item-video {
    height: 0;
    padding-bottom: 56.212%;
    position: relative;
    overflow: hidden;

    iframe, video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

/* Video title */
.rt-gallery__item-video-title {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit/2;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {

    .rt-gallery__list {
        .rt-gallery__item {
            &:nth-child(2n+1):nth-last-of-type(-n+2), 
            &:nth-child(2n+1):nth-last-of-type(-n+2) ~ .rt-gallery__item {
                padding-bottom: 0;
            }
        }
    }

}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {

    .rt-gallery {
        margin-top: $spacing-unit;
        // padding: $spacing-unit $spacing-unit*2.5;

        .rt-gallery__slider {
            padding: $spacing-unit $spacing-unit*2.5;
        }

        &::before {
            left: $spacing-unit*2.5;
        }

        .slick-arrow {
            width: 30px;
            height: 40px;
        }

        .slick-next {
            right: 0;
        }

        .slick-prev {
            left: 0;
        }

        // .rt-col-half & {
        //     background: #ffffff;
        // //     padding: 0;
        // }
    }

    .rt-gallery__list {
        margin-bottom: 0;
        //padding: $spacing-unit 0 $spacing-unit*2;

        .rt-gallery__item {
            flex: 0 0 25%;
            max-width: 25%;
        }


        .rt-col-half & {
            .rt-gallery__item {
                flex: 0 0 50%;
                max-width: 50%;

                &:nth-child(2n+1):nth-last-of-type(-n+2), 
                &:nth-child(2n+1):nth-last-of-type(-n+2) ~ .rt-gallery__item {
                    padding-bottom: 0;
                }        
            }
        }
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {
    .rt-gallery {
        .rt-gallery__slider {
            padding: $spacing-unit*2;
        }

        .slick-arrow {
            width: 20px;
            height: 30px;
            // font-size: $font-size-l;

            &::before,
            &::after {
                font-size: $font-size-m;
            }
        }

        .slick-next {
            right: 4px;
        }

        .slick-prev {
            left: 4px;
        }
    }
}