/**
 *  STANZA MENU
 *
 *  Navigation for stanza
 */

/* ------------------------------------ *\
   #STANZA-MENU
\* ------------------------------------ */
.rt-stanza-navigation {
    background-color: $color-partecipazione;

    .rt-stanza-navigation__menu {
        display: flex;
        @include centered-container($ui-width);
        list-style: none;
        padding: $spacing-unit;

        .rt-stanza-navigation__menu-item {
            display: flex;
            align-items: center;
            color: $color-text;
            font-weight: $font-weight-medium;
            font-size: $font-size-xs;

            & + .rt-stanza-navigation__menu-item {
               
                &::before {
                    content: '\2022';
                    display: block;
                    margin: 0 $spacing-unit;
                }
            }

            a {
                display: block;
                color: inherit;

                &:hover,
                &:focus {
                    color: $color-text-hover;
                }
            }
        }
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .rt-stanza-navigation {
       
        .rt-stanza-navigation__menu {
            .rt-stanza-navigation__menu-item {
                a {
                    display: block;
                    padding: $spacing-unit;
                    color: inherit;
                }
            }
        }
    }
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-smartphone-landscape) and (max-width: $breakpoint-ipad-portrait) {
}


@media all and (min-width: $breakpoint-ipad-portrait) {
    .rt-stanza-navigation {
       
        .rt-stanza-navigation__menu {
  
            padding: $spacing-unit*2;

            .rt-stanza-navigation__menu-item {
                font-size: $font-size-s;
            }
        }
    }
}

@media all and (max-width: $breakpoint-laptop-wide - 1) {
    .rt-stanza-navigation {
       
        .rt-stanza-navigation__menu {
            overflow-x: auto;

            .rt-stanza-navigation__menu-item {
                a {
                    white-space: nowrap;
                }
            }

        }
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {

}

@media all and (min-width: $ui-width) {
}