/**
 * LOGIN
 *
 * Login for all pages
 */

/* ------------------------------------ *\
   #LOGIN
\* ------------------------------------ */
/* Portlet login */
.portlet-login {

    .portlet-content {
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
        padding-top: $spacing-unit;
    }


    /* Login container */
    .portlet-content-container {
        padding: $spacing-unit;
        background: #ffffff;

        .button-holder {
            display: flex;
        }

        .navigation {
            border-top: 1px solid $color-border-light;
            padding: $spacing-unit $spacing-unit 0;
        }

        .list-unstyled {
            display: flex;
        }
    
    }

}

// .portlet-decorate .portlet-content



/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .portlet-login {
        .portlet-content-container {
            .button-holder {
                flex-flow: column;
            }

            .list-unstyled {
                flex-flow: column nowrap;
            }
        }
    }
}


@media (min-width: $breakpoint-boostrap-sm) {
 
}

@media (min-width: $breakpoint-boostrap-sm) and (max-width: $breakpoint-ipad-portrait - 1) {

}

@media all and (min-width: $breakpoint-ipad-portrait) {
    /* Portlet login */
    .portlet-login {
        .portlet-content {
            padding-top: $spacing-unit*3!important;
            padding-bottom: $spacing-unit*3!important;
        }
    }

    .portlet-login {
        .portlet-content-container {
            .input-container {
                padding: $spacing-unit*2;
            }

            .btn {
                min-width: 150px;
            }

            .button-holder {
                justify-content: flex-end;
            }

            .navigation {
                padding: $spacing-unit*2 $spacing-unit 0;
            }
        }

        .col-md-6 {
            padding: $spacing-unit*2 $spacing-unit*3;
            @include flex-item-width(100%);
        }
    }
}


@media all and (min-width: $breakpoint-laptop-wide) {
}

@media all and (min-width: $ui-width) {
}