/**
 * BANNER
 *
 * Banner style
 */

/* ------------------------------------ *\
   #BANNER
\* ------------------------------------ */
.rt-banner {
    margin-bottom: $spacing-unit*2;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &.rt-banner--border {
        border: 12px solid #ffffff;
    }

    &.rt-banner--decorated {
        border: 15px solid #ffffff;
    }

    .rt-banner__text {
        display: block;
        padding: $spacing-unit;
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        color: #ffffff;
       
    }

    .rt-banner__decoration {
        // transform: rotate(-10deg);
        background: $color-light-orange;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        transition: background $transition-durations ease;
    }

    .rt-banner__title {
        font-weight: $font-weight-bold;
        line-height: 1.1;
    }

    .rt-banner__title,
    .rt-banner__caption {
        position: relative;
        z-index: 2;
    }

    .rt-banner__title {
        font-size: $font-size-ll;
    }

    .rt-banner__caption {
        display: flex;
        flex-flow: column nowrap;
        font-size: $font-size-s;
    }

    &.rt-banner--ot {
        background-image: url($image-path + 'banner-app.png');
        background-repeat: no-repeat;
        background-position:  center center;
        background-size: cover;
        // linear-gradient(180deg, #E4D8CA 2%, #E9DDD0 99%), 

        .rt-banner__decoration {
            background: $color-main;
        }
        
    }

    &.rt-banner--documenti {
        .rt-banner__decoration {
            background: $color-documenti;
        }

        &:hover, &:focus {
            .rt-banner__decoration {
                background: darken($color-documenti, 5%);
            }
        }
    }

    &.rt-banner--light {
        .rt-banner__caption {
            color: $color-text;
        }

        .rt-banner__decoration {
            background: rgba(255,255,255,0.9);
        }
    }

    &.rt-banner--dark {
         .rt-banner__caption {
            color: #ffffff;
        }
        
        .rt-banner__decoration {
            background: rgba(0,0,0,0.9);
        }
    }

    .rt-banner__action {
        padding: $spacing-unit;
        color: #ffffff;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
    }

    .rt-banner__logo {
        align-self: center;
        margin-bottom: $spacing-unit;
        width: 160px;
        font-weight: $font-weight-bold;
    }

    /* Banner app Open Toscana */
    .rt-banner__app {
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: $spacing-unit;
        align-items: center;
        text-align: center;
        background-image: url($image-path + 'logo-open-banner.png');
        background-repeat: no-repeat;
        background-position:  center center;
        background-size: contain;
    }

    .rt-banner__app-download-links {
        display: flex;
    }

    .rt-banner__app-download-btn-appstore {
        margin-right: $spacing-unit;
    }

    .rt-banner__app-title {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $color-text-light;
        font-size: $font-size-m;
    }

    &.rt-banner--title-small {
        .rt-banner__title {
            font-size: $font-size-l;
        }
    }

    /* Startup */
    &.rt-banner--startup-cosa {
        .rt-banner__decoration {
            background-color: $color-startup-cosa;
        }

        .rt-banner__text {
            &:hover,
            &:focus {
                .rt-banner__decoration {
                    background-color: darken($color-startup-cosa,10%);
                }
            }
        }
    }

    &.rt-banner--startup-come {
        .rt-banner__decoration {
            background-color: $color-startup-come;
        }

        .rt-banner__text {
            &:hover,
            &:focus {
                .rt-banner__decoration {
                    background-color: darken($color-startup-come,10%);
                }
            }
        }
    }

    &.rt-banner--startup-elenco {
        .rt-banner__decoration {
            background-color: $color-startup-elenco;
        }

        .rt-banner__text {
            &:hover,
            &:focus {
                .rt-banner__decoration {
                    background-color: darken($color-startup-elenco,10%);
                }
            }
        }
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .rt-banner {
        padding-top: 25%;
        background-position: left top;
        background-size: cover;

        .rt-banner__app {
            // top: 0;
            padding-top: 60px;
            right: 0;
            left: 0;
            background-size: 50px 50px;
            background-position: center top;
        }

        .rt-banner__text {
            position: relative;
        }

        &.rt-banner--ot {
            padding-top: $spacing-unit*2;
            background-position: left top;
            background-size: 180%;
        }

        &[href^="http://coopdicomunita"] {
            .rt-banner__logo {
                width: 168px;
            }
        }
    
        &[href^="http://plastic-free"] {
            .rt-banner__logo {
                width: 128px;
            }
        }

        &.rt-banner--startup {
            padding-top: 25%;
            background-size: contain;


            .rt-banner__title {
                font-size: $font-size-ml;
            }

            .rt-banner__caption {
                font-size: $font-size-s;
            }
        }

    }

}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {
    .rt-banner {
        height: 0;
        margin-bottom: $spacing-unit*3.5;
        padding-bottom: 40.073%;

        &.rt-banner--ot {
            margin-bottom: 0;
        }
    
        .rt-banner__text {
            max-width: 60%;
            padding: $spacing-unit*2;
            top: auto;
            left: auto;
        }

        &:not(.rt-banner--text-grid) {
            .rt-banner__text {
                text-align: right;
            }
        }
    
        .rt-banner__decoration {
            transform: rotate(-10deg);
            top: -10%;
            right: -20%;
            bottom: -30%;
            left: 0;
        }

        .rt-banner__app {
            width: 30%;
            padding: $spacing-unit*2;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background-size: 60%;
        }

        .rt-banner__app-title {
            font-size: $font-size-ml;
        }

        &.rt-banner--text-grid {
            .rt-banner__text {
                display: flex;
                top: 0;
                align-items: center;
            }

            .rt-banner__title {
                margin-bottom: 0;
                text-align: right;
            }

            .rt-banner__decoration {
                top: 0;
            }

            .rt-section--grid-2 & {
                .rt-banner__text {
                    flex-flow: column;
                }
            }
        }
    }
}

@media all and (min-width: $breakpoint-laptop) {
    .rt-banner {
        .rt-banner__action {
            padding: $spacing-unit*2;
            font-size: $font-size-xxl;
        }
    }
}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop-wide - 1) {
    .rt-banner {

        // .rt-banner__text {
        //     max-width: 100%;
        // }

        &.rt-banner--text-grid {
            .rt-banner__text {
                flex-flow: column nowrap;
                max-width: 50%;
                justify-content: center;
                
            }

            .rt-banner__title {
                margin-right: 0;
                margin-bottom: $spacing-unit*2;
                text-align: left;
            }

            .rt-banner__caption {
            }
        }
       
        .rt-section--grid-2 & {
            padding-bottom: 32.073%;

            .rt-banner__text {
                max-width: 100%;
            }
        }
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {
    .rt-banner {
        padding-bottom: 23.073%;

        &.rt-banner--ot {
            padding-bottom: 26.5%;
        }

        .rt-section--grid-2 & {
            padding-bottom: 15%;

            &.rt-banner--decorated {
                padding-bottom: 24.5%;
            }
        }

        .rt-banner__title {
            font-size: $font-size-xl;
        }

        .rt-banner__caption {
            font-size: $font-size-m;
        }

        &.rt-banner--text-grid {
            .rt-banner__text {
                align-items: center;
            }

            .rt-banner__title {
                margin-right: $spacing-unit*1.5;
            }

           // .rt-banner__caption {
              // flex: 1;
       //     }
            
            .rt-banner__decoration {
                left: -10%;
            }
        }



        .rt-banner__logo {
            align-self: flex-end;
        }

        &[href^="http://coopdicomunita"] {
            .rt-banner__logo {
                width: 236px;
            }
        }
    
        &[href^="http://plastic-free"] {
            .rt-banner__logo {
                width: 257px;
            }
        }

        &.rt-banner--startup {
            padding-bottom: 27.2646%;

            .rt-banner__title {
                margin-right: $spacing-unit*2;
                font-size: $font-size-xxxl;
            }
        }
    }  
}

@media all and (min-width: $ui-width) {
    .rt-banner {

        .rt-banner__text {
            padding: $spacing-unit*2;
            top: auto;
            bottom: 0;
            left: auto;
            width: 600px;
        }

        .rt-banner__decoration {
        }

        &.rt-banner--text-grid {
            .rt-banner__decoration {
                left: -35%;
            }

            .rt-banner__text {
                width: 50%;
            }

            .rt-banner__title {
                margin-right: $spacing-unit*3;
            }
        }
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {
}