/**
 * BOX VIDEO
 *
 * Box video style
 */

/* ------------------------------------ *\
   #BOX-VIDEO
\* ------------------------------------ */

.rt-box-video {

    .rt-videos__list & {
        padding: $spacing-unit 0;
    }

    .rt-box-video__video {
        height: 0;
        padding-bottom: 56.212%;
        position: relative;
        overflow: hidden;

        iframe, video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .rt-box-video__title {
        margin-bottom: 0;
        font-weight: $font-weight-medium;
        font-size: $font-size-m;
        line-height: 1.4;
    }

    .rt-box-video__text {
        //display: flex;
    }

    .rt-box-video__description {
        p {
            font-size: $font-size-s;
            font-weight: $font-weight-normal;
        }
    }

    .rt-box-video__cta {
        .rt-btn {
            white-space: nowrap;
        }
    }

    .rt-box-video__infos {
        padding-top: $spacing-unit/2;
    }

    .rt-box-video__wrapper {
        padding: $spacing-unit;
        background: #ffffff;
    }

    &.rt-box-video--youtube {

    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .rt-box-video {
        margin-bottom: $spacing-unit*2.5;
        .rt-box-video__text {
            flex-flow: column nowrap;
        }
    }
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {

    .rt-box-video {

        .rt-videos__list & {
            padding: 0 0 $spacing-unit*2;

            &:last-of-type {
                padding-bottom: 0;
            }
        }

        .rt-box-video__title {
            font-size: $font-size-s;
        }

        .rt-section--home & {
            .rt-box-video__title {
                font-size: $font-size-l;
                font-weight: $font-weight-bold;
            }
        }

        .rt-box-video__infos {
            display: flex;
            padding-top: $spacing-unit;
        }

        .rt-box-video__wrapper {
            padding: $spacing-unit*2;
        }

        .rt-section--box-row & {
            margin-bottom: $spacing-unit*2;
        }

        .rt-section--box-col-2 & {
            .col-md-12:not(.rt-col-half) & {
                flex: 0 0 49%;
                max-width: 49%;
                margin-right: 2%;
            
                &:nth-of-type(2n+2) {
                    margin-right: 0;
                }
    
                &:nth-child(2n+1):nth-last-of-type(-n+2), 
                &:nth-child(2n+1):nth-last-of-type(-n+2) ~ .rt-box-video {
                    margin-bottom: 0;
                }
            }

        }

        &:not(.rt-box-video--highlight) {

        }

        .rt-col-half & {
            max-width: 100% !important;
            margin-bottom: $spacing-unit*2;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

}

@media all and (min-width: $breakpoint-laptop) {
}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop-wide - 1) {
    .rt-box-video {
        .rt-section--box-col-3 & {
            .col-md-12:not(.rt-col-half) & {
                flex: 0 0 49%;
                max-width: 49%;
                margin-right: 2%;
                margin-bottom: $spacing-unit*2;
    
                &:nth-of-type(2n+2) {
                    margin-right: 0;
                }
    
                &:nth-child(2n+1):nth-last-of-type(-n+2), 
                &:nth-child(2n+1):nth-last-of-type(-n+2) ~ .rt-box-video {
                    margin-bottom: 0;
                }
            }

        }

        .rt-row-full & {
            flex: 0 0 49%;
            max-width: 49%;
            margin-right: 2%;
            margin-bottom: $spacing-unit*2;

            &:nth-of-type(2n+2) {
                margin-right: 0;
            }

            &:nth-of-type(3n+3) {
                margin-right: 2%;
            }

            &:nth-child(2n+1):nth-last-of-type(-n+2), 
            &:nth-child(2n+1):nth-last-of-type(-n+2) ~ .rt-box-video {
                margin-bottom: 0;
            }
        }
    }
}

@media all and (min-width: $ui-width) {
}

@media all and (min-width: $breakpoint-laptop-wide) {
    .rt-box-video {
        .rt-section--box-col-3 & {
            .col-md-12:not(.rt-col-half) & {
                flex: 0 0 32.333%;
                max-width: 32.333%;
                margin-right: 1.5%;
                margin-bottom: $spacing-unit*2;
    
                &:nth-of-type(3n+3) {
                    margin-right: 0;
                }
    
                &:nth-child(3n+1):nth-last-of-type(-n+3), 
                &:nth-child(3n+1):nth-last-of-type(-n+3) ~ .rt-box-video {
                    margin-bottom: 0;
                }
            }

           
            .rt-row-full & {
                flex: 0 0 32.333%;
                max-width: 32.333%;
                margin-right: 1.5%;
                margin-bottom: $spacing-unit*2;
    
                &:nth-of-type(3n+3) {
                    margin-right: 0;
                }
    
                &:nth-child(3n+1):nth-last-of-type(-n+3), 
                &:nth-child(3n+1):nth-last-of-type(-n+3) ~ .rt-box-video {
                    margin-bottom: 0;
                }
            }
        }
    }
}