/**
 * TEASER BOX
 *
 * Teaser box structure
 */

/* ------------------------------------ *\
   #TEASER-BOX
\* ------------------------------------ */

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {

}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {
}

@media all and (min-width: $breakpoint-laptop) {
    .rt-box-teaser {

        .rt-box-teaser__header {
            padding-bottom: $spacing-unit*3;
            font-size: $font-size-l;
        }

        .rt-box-teaser__text {
            padding: $spacing-unit*4 $spacing-unit*3;
        }

        .rt-box-teaser__excerpt {
            font-size: $font-size-ml;
        }

        .rt-box-teaser__title {
            font-size: $font-size-2m;
        }

        &.rt-box-teaser--focus {
            .rt-box-teaser__title {
                font-size: $font-size-extra;
            }
        }
    }


}

@media all and (min-width: $breakpoint-laptop-wide) {
}

@media all and (min-width: $ui-width) {
}

@media all and (min-width: $breakpoint-laptop-wide) {

}