/**
 * FOOTER
 *
 * Footer of the whole site
 */

/* ------------------------------------ *\
   #FOOTER
\* ------------------------------------ */
.rt-footer {
    background: #ffffff;

    .rt-footer__main-area {
        .rt-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            padding: $spacing-unit*2.5 $spacing-unit;
        }
    }

    .rt-footer__main-infos {
        width: 100%;
        padding-top: $spacing-unit;
        padding-bottom: $spacing-unit/2;
        border-top: 1px solid $color-border-normal;
        border-bottom: 1px solid $color-border-normal;
        color: $color-text-light;
        font-size: $font-size-xs;
        text-align: center;

        a {
            color: inherit;

            &:hover,
            &:focus {
                color: $color-text-hover;
            }
        }
    }

    .rt-footer__privacy {
	    text-align: center;
	    padding-bottom: 30px;
	}

    .rt-footer__main-logo-label {
        font-family: $font-family-title;
        font-weight: $font-weight-bold;
        font-size: $font-size-s;
    }

    .rt-footer__main-logo {
        margin-bottom: 0;
        text-align: center;
    }

    .rt-footer__navigation {
        display: flex;
        //padding: $spacing-unit*2 0;
    }

    .rt-footer__navigation-list {
        display: flex;
    }

    .rt-footer__navigation-item {
        display: flex;
        align-items: center;
        font-size: $font-size-xs;
        color: $color-text-light;

        a {
            display: block;
            padding: $spacing-unit;
            color: inherit;

            &:hover,
            &:focus {
                color: darken($color-text-light, 20%);
            }
        }

        + .rt-footer__navigation-item {
            &::before {
                content: '|';
                display: inline-block;
            }
        }
    }

    .rt-footer__app-download {
        width: 100%;
        padding: $spacing-unit*2 0;
    }

    .rt-footer__app-download-text {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    .rt-footer__infos {
        box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.25);

        .rt-container {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    .rt-footer__menu-title {
        margin-bottom: $spacing-unit;
        padding-bottom: $spacing-unit;
        position: relative;
        font-weight: $font-weight-light;
        font-size: $font-size-ml;
        color: $color-text;

        &::before {
            content: '';
            width: 90px;
            height: 5px;
            position: absolute;
            bottom: 0;
            background: $color-gray-05;
        }
    }

    .rt-footer__menu {
        &.rt-footer__menu--accessi-veloci {
            .rt-footer__menu-list-element {
                font-size: $font-size-xs;
                font-weight: $font-weight-bold;

                a {
                    color: $color-text-label;
                    &:hover,
                    &:focus {
                        color: $color-main;
                    }
                }
            }
        }
    }

    .rt-footer__menu-list {
    }

    .rt-footer__menu-list-element {
        font-size: $font-size-s;
        font-weight: $font-weight-medium;

        a {
            display: block;
            padding: $spacing-unit/2 $spacing-unit/2 $spacing-unit/2 0;
            color: $color-text-light;

            &:hover,
            &:focus {
                color: $color-main;
            }
        }
    }

    .rt-footer__infos-info {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: $font-size-xxs;
        color: $color-text-light;

        &::after {
            content: '';
            display: inline-block;
            width: $spacing-unit;
            height: 100%;
            margin-left: $spacing-unit*2;
            background-image: linear-gradient(-90deg, rgba(33, 37, 41, 0.05) 14%, #ffffff 100%);
        }
    }

    .rt-footer__link {
        display: flex;
        flex: 0 0 65px;
        width: 65px;
        font-size: $font-size-xxs;
        color: $color-text-light;
        line-height: 1.1;

        &:hover,
        &:focus {
            color: $color-text-hover;
        }

        [class*="fa"] {
            margin-top: $spacing-unit/5;
            margin-right: $spacing-unit/2;
            font-size: 15px;
        }
    }

    .rt-footer__logo {
        margin-left: auto;
    }

    .rt-footer__main-porcreo {
        text-align: center;
    }

    .rt-footer__main-porcreo-text {
        font-size: $font-size-xs;
        color: $color-text-light;
    }
}

.rt-footer-doble-logos{
	display: flex;
    align-items: center;
    width: 100%;
	padding-bottom: 30px;
}

.rt-footer__secondary-logo {
    width: 292px;
    height: 53px;
    margin-left: auto;
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
    .rt-footer__menu {

        .rt-container {

        }
    }
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .rt-footer {
        .rt-footer__navigation {
        }

        .rt-footer__main-area-column {
            &.rt-footer__main-area-column-links {
                display: none;
            }
        }

        .rt-footer__menu {
            &:not(.rt-footer__menu--accessi-veloci) {
                display: none;
            }
        }

        .rt-footer__link {
            flex: 0 0 52px;
            width: 52px;
            font-size: 9px;
        }

        .rt-footer__main-infos {
            width: 100%;
            text-align: center;
        }

        .rt-footer__infos {
            //
            //.rt-container {
            //    flex-wrap: wrap;
            //}
        }

        .rt-footer__navigation {
            //margin-left: auto;
        }

        .rt-footer__navigation-item {
            font-size: $font-size-xxs;
        }

        .rt-footer__main-infos-item {
            display: block;
        }

        a.rt-footer__main-infos-item {
            padding: $spacing-unit/2 0;
        }

        .rt-footer__app-download {
            text-align: center;
        }

        .rt-footer__app-download-text {
            margin-bottom: $spacing-unit/2;
            font-size: $font-size-s;
        }
		
		.rt-footer__secondary-logo {
			width: 180px;
			height: 47px;
			margin-left: auto;
			margin-top: 10px;
		}

    }
	
}


@media all and (min-width: $breakpoint-ipad-portrait) {

    .rt-footer {
        .rt-footer__main-infos {
            padding-top: $spacing-unit*2;
            padding-bottom: $spacing-unit*2;
            font-size: $font-size-m;
        }

        .rt-footer__main-logo {
            margin-bottom: 0;
        }

        .rt-footer__main-logo-label {
            margin-top: $spacing-unit/2;
            font-size: $font-size-ml;
        }

        .rt-footer__navigation-item {
            font-size: $font-size-m;

            &:first-of-type {
                a {
                    padding-left: 0;
                }
            }

            &:last-of-type {
                a {
                    padding-right: 0;
                }
            }
        }

        .rt-footer__logo {
            width: 263px;
            height: 98px;
        }

        .rt-footer__main-area {

            .rt-container {
                padding-top: $spacing-unit*4.5;
                padding-bottom: $spacing-unit*2;
            }
        }

        .rt-footer__menu-title {
            margin-bottom: $spacing-unit*1.5;
            padding-bottom: $spacing-unit*1.5;
            font-size: $font-size-m;

            &::before {
            }
        }

        .rt-footer__menu-list {
        }

        .rt-footer__infos {
            .rt-container {
            }
        }

        .rt-footer__infos-info {
            font-size: $font-size-s;
        }

        .rt-footer__external-links {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-around;
            height: 100%;
        }

        .rt-footer__link {
           margin-right: $spacing-unit*4;
        }

        .rt-footer__main-infos-item {
            & + .rt-footer__main-infos-item {
                &::before {
                    content: '|';
                    display: inline-block;
                    margin: 0 $spacing-unit/2;
                }
            }
        }

        .rt-footer__main-porcreo-logos {
            display: block;
            width: 80%;
            margin: 0 auto;
        }

        // .rt-footer__main-porcreo-text {
        //     font-size: $font-size-s;
        // }

        .rt-footer__app-download {
            display: flex;
            align-items: center;
        }

        .rt-footer__app-download-text {
            @include flex-item-width(50%);
            padding-right: $spacing-unit*2.5;
            font-size: $font-size-ml;
            text-align: right;
        }

        .rt-footer__app-download-links {
            @include flex-item-width(50%);
        }

        .rt-footer__app-download-btn {
            display: inline-block;
        }

        .rt-footer__app-download-btn-appstore {
            margin-right: $spacing-unit*2;
        }
    }
}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop-wide) {
    .rt-footer {
        .rt-footer__main-area {

        }

        .rt-footer__main-area-column {
            &.rt-footer__main-area-column-links {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .rt-footer__external-links {
            flex-flow: row nowrap;
        }

        .rt-footer__menu-list-element {
            font-size: $font-size-xs;
        }

        .rt-footer__navigation-item {
            font-size: $font-size-xxs;
        }

        .rt-footer__external-links-logo {
            padding: $spacing-unit;

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-left: 0;
            }
        }

    }
}


@media all and (min-width: $breakpoint-laptop-wide) {
    .rt-footer {
        .rt-footer__main-logo {
            margin-bottom: 0;
        }

        .rt-footer__menu-title {
            margin-bottom: $spacing-unit*2;
            padding-bottom: $spacing-unit*2;
            font-size: $font-size-l;
        }

        .rt-footer__main-area {
            .rt-container {
                padding-top: 30px;
            }
        }

        .rt-footer__main-infos {
            padding-top: $spacing-unit*4;
            padding-bottom: $spacing-unit*4;
        }

    }
}