/**
 * TOP HEADER
 *
 * Top header
 */

/* ------------------------------------ *\
   #HEADER
\* ------------------------------------ */

.rt-header {
    background: #ffffff;
    transition: all $transition-durations ease-in;

    .is-scrolled & {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $rt-navbar-z-index;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
        transform : translate3d(0, 0, 0);

        .rt-navbar {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
			width: 100%;
        }

    }


    .has-control-menu.has-control-panel.is-scrolled & {
        top: $admin-toolbar-height-mobile;
    }

	img.rt-image-scroll.secondary {
		max-width: 300px;
		margin-left: 15px;
	}
    
}

.rt-header__bottom-area {
    background: #ffffff;
    box-shadow: 0 6px 7px 0 rgba(0,0,0,0.15);
    z-index: 1;

    .is-scrolled & {
        box-shadow: none;
    }
}

.rt-header__site-logo {
    flex-flow: column nowrap;
    align-items: center;
    transition: all $transition-durations ease;
    text-align: center; /* For label */

    img {
        flex: 1; /* Fix for IE11 image size bug */
    }

    .rt-logo-label {
        font-family: $font-family-title;
        color: $color-text;
        font-weight: $font-weight-bold;
        font-size: $font-size-xs;
    }
}

/* Secondary menu */

.rt-secondary-menu__list {
    display: flex;
    flex-flow: row wrap;

    .rt-secondary-menu__item {
        font-size: $font-size-s;

        a {
            display: block;
            color: $color-gray-05;
        }
    }
}

/* Socials and search */

.rt-header__social {
    flex: 0 0 50%;
    justify-content: flex-end;
    align-items: flex-start;

    fieldset {
        padding-right: 0;
        border: none;
    }

    .input-group-inset-item {
        border-color: $color-border-normal;
    }

    .btn {
        background: transparent;

        .lexicon-icon {
            color: $color-main;
        }
    }

    .navbar-form {
        margin-right: 0;
    }
}

.rt-social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rt-search-bar {
    width: 100%;
}

.rt-header__social {
    transition: all $transition-durations ease;

    // .is-scrolled & {
    //     display: none;
    // }
}

.rt-search-bar {

    input[type="text"] {
        height: 46px;
        background: #FFFFFF;
        box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.22);
        line-height: 46px;
    }

    .is-scrolled & {
        display: none;
        margin-top: 0;
        background: rgba(255,255,255,0.95);
        box-shadow: 0 9px 25px 0 $color-gray-02;

        &.is-open {
            display: block;
            position: fixed;
            top: $header-height-scrolled;
            right: 0;
            left: 0;
            padding: $spacing-unit;
        }
    }

    .signed-in.is-scrolled & {
        &.is-open {
            top: $header-height-scrolled + $admin-toolbar-height-mobile;

        }
    }

    .input-group-item {
        margin-left: 0; /* Overwrite Clay's style */
    }

    .input-group-inset-item {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;

    }

    .form-control.search-bar-keywords-input {
        padding-right: 45px;
    }
}

/* Search  btn */
.search-bar-search-button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    color: $color-main;
    transition: color $transition-durations ease-in;

    &:hover,
    &:focus {
        color: $color-text-hover;
    }
}

.search-bar-keywords-input-wrapper {
    position: relative;
}

/* Social */
.rt-social-media__title {
    margin-right: $spacing-unit;
    font-size: $font-size-s;
    font-weight: $font-weight-light;
}

.rt-social-media__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.rt-social-media__item {
    padding: 0 $spacing-unit/2;

    a {
        color: #ffffff;
    }
}

.rt-social-media-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: $color-text-form-placeholder;
}

.rt-search-bar {
    margin-top: $spacing-unit;
}

.rt-search-toggle {
    display: none;
    width: auto;
    min-width: initial;
    padding: 0 $spacing-unit;

    &.is-active {
        background: transparent;
        color: $color-text-hover;

        &:hover,
        &:focus {
            background: transparent;
            color: $color-text-hover;
        }
    }

    &:hover,
    &:focus {
        background: transparent;
        color: $color-text-hover;
    }

    &.rt-search-toggle--scroll {
        height: auto;
        margin-right: $spacing-unit;
        margin-left: auto;
        padding: $spacing-unit;
        order: 3;

        [class*="fa"] {
            font-size: $font-size-l;
            color: $color-text-light;
        }
    }
}

.rt-responsive-header {
    display: none;
    height: $header-height-mobile;
    align-items: center;
    width: 100%;
    z-index: $rt-navbar-z-index;
    position: relative;
    background: $body-bg;
}

.custom-logo {
    img {
        flex: 1; /* Fix ie11 bug image size */
    }

    .rt-logo-mobile-scroll {
        display: none;
    }
}

.rt-header-section__subtitle {
    margin-bottom: 0;
    padding-bottom: $spacing-unit/2;
    border-bottom: 3px solid $color-partecipazione;
    font-size: $font-size-ml;

    a {
        color: inherit;

        &:hover,
        &:focus {
            color: $color-text-hover;
        }

        &:not(:first-of-type) {
           font-size: $font-size-s;
        }

        body:not(.is-scrolled) & {
            &:not(:first-of-type) {
                display: block;
            }
        }

        .is-scrolled & {
            &:not(:first-of-type) {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

/* User menu */
.rt-user-menu {
    &__list {
        list-style: none;
    }

    &__list-item {
        a {
            color: $color-text-light;

            &:hover,
            &:focus {
                color: $color-text-hover;
            }
        }
    } 
}


/* Override clay's style */
.rt-navigation .navbar-nav .nav-link {
    position: static;
}


html:not(#__):not(#___) .cadmin.control-menu-container {
    position: fixed!important;
    left: 0!important;
    position: fixed!important;
    right: 0!important;
    top: 0!important;
    z-index: 989!important;
}
html:not(#__):not(#___) .cadmin [type=radio] {
    position: relative!important;
}

.radio input {
    position: relative !important;
}

.closed .cadmin.lfr-product-menu-panel.sidenav-menu-slider.open {
    width: 0 !important;
}

hr.separator {
    display: none;
}  

html:not(#__):not(#___) .cadmin .component-action.portlet-options {
    color: rgba(0, 0, 0, 0.5)!important;
}  

.signed-in div#wrapper {
    margin-top: 56px!important;
}

p.component-title.h4 {
    display: none;
}

.dockbar-visible p.component-title.h4 {
    display: block;
}

.rt-container.rt-header__top-area.rt-header__bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.is-scrolled .rt-header__site-logo img {
    margin-top: 5px;
}

.is-scrolled .rt-header img.rt-image-scroll.secondary {
    max-width: 250px;
}

a.rt-header__site-logo {
    justify-self: center;
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $ui-width) {
    .rt-header__top-area {
        padding: 0;
    }
}

@media all and (max-width: $breakpoint-laptop-wide) {
	
	.rt-header img.rt-image-scroll.secondary {
    max-width: 225px;
    }
}

@media all and (max-width: $breakpoint-laptop) {
    .rt-social-media__title {
        font-size: $font-size-xs;
    }
	
	.rt-header img.rt-image-scroll.secondary {
        max-width: 185px;
    }
}



@media all and (max-width: $breakpoint-ipad-portrait - 1) {

    .rt-header {

        > .navbar {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .navbar {
            &.navbar-top {
                position: absolute;
            }

            &:not(.navbar-top) {

                .is-scrolled & {
                    flex: 1 0 100%;
                    width: 100%;
                }
            }
        }

        .signed-in.is-scrolled & {
            top: 48px;
        }
    }

    .rt-header__top-area {
        padding: 0;

        .social-media-wrapper,
        .rt-logos {
            display: none;
        }
    }

    .rt-header__bottom-area {
        flex: 0 0 100%;
        max-width: 100%;
        background: #ffffff;

        .signed-in.is-scrolled & {
            top: $admin-toolbar-height-mobile;
        }

        &.rt-header-section__bottom-area {
            display: flex;
            align-items: center;
        }

        .is-scrolled &.rt-header-section__bottom-area {
            height: $header-height-mobile;
            position: fixed;
            top: 0;
            right: $header-height-mobile;
            left: 50px;
            z-index: $rt-navbar-z-index + 1;

            > .rt-container {
                padding: 0;
            }
        }

        .is-scrolled.has-control-menu.has-control-panel &.rt-header-section__bottom-area {
            top: $admin-toolbar-height-mobile;
        }
    }

    .custom-logo {
        width: 142px;
        height: 56px;

        &.rt-logo-mobile-hidden {
            display: none !important;
        }

        .rt-responsive-header & {
            // margin: 0 0 0 $spacing-unit;

            .rt-header-sezioni & {
                margin: 0 $spacing-unit;
                order: -1;
            }
        }
        

        .is-scrolled & {
            .rt-logo-mobile {
                display: none;
            }

            .rt-logo-mobile-scroll {
                display: inline-block;
                flex: 0 0 46px;
                height: 46px;
            }
        }
    }

    .rt-search-bar {
        display: none;

        .is-scrolled &.is-open {
            top: $header-height-mobile;
        }

        .signed-in &.is-open {
            top: 98px;
        }
    }

    .rt-navigation {
        justify-content: flex-start;
    }

    /* Mobile navbar toggle */
    .rt-navbar-toggle {
        order: -1;
    }

    // .custom-logo {
    //     order: 2;
    // }

    .rt-btn:not(.rt-search-item__button):not(.rt-btn-round).rt-search-toggle {
        [class*="fa"] {
            padding-left: 0;
        }
    }

    .rt-search-toggle {
        display: inline-block;
        width: $header-height-mobile;
        height: $header-height-mobile;
        margin-left: auto;
        order: 3;
        color: $color-main;
        font-size: $font-size-l;

        &:hover,
        &:focus {
            color: $color-text-hover;
        }

        &.rt-search-toggle--scroll,
        &.rt-search-toggle--tablet {
            display: none;
        }

        .rt-header-sezioni & {
            margin-left: 0;
        }
    }

    .rt-responsive-header {
        display: flex;
        height: $header-height-mobile;
        background: #ffffff;

        .is-scrolled & {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            //padding: 0 $spacing-unit;
            @include box-shadow;
        }

        .rt-header-sezioni & {
            .rt-logo-regione-mobile {
                order: -1;
            }
        }
    }

    .rt-search-bar {
        margin-top: 0;
        background: rgba(255,255,255,0.95);
        box-shadow: 0 9px 10px 0 rgba(0,0,0,0.2);
        position: fixed;
        top: $header-height-mobile;
        right: 0;
        left: 0;
        z-index: $rt-navbar-z-index + 1;
        padding: $spacing-unit/2;

        &.is-open {
            display: block;
        }

        .input-group-item {
            margin-left: 0;
        }

        fieldset {
            padding: 0;
        }
    }

    .rt-secondary-menu__list {
        display: flex;
        flex-flow: row wrap;

        .rt-header__social & {
            display: none;
        }

        .rt-secondary-menu__item {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: $spacing-unit;
            font-size: $font-size-xs;

            a {
                height: 45px;
                margin-right: $spacing-unit;
                padding-bottom: $spacing-unit;
                border-bottom: 1px solid $color-border-normal;
            }
        }
    }

    .rt-social-media {
        flex-flow: column nowrap;
        align-items: flex-start;

        .rt-social-media__title {
            margin-bottom: $spacing-unit;
            font-size: $font-size-s;
        }
    }

    .rt-header-section__subtitle {
        .is-scrolled & {
            width: 80%;
            padding-top: $spacing-unit/2;
            padding-bottom: 0;
            a {
                &:not(:first-of-type) {
                    display: block;
                }
            }
        }
    }

    .rt-user-menu {
        .rt-header__top-area & {
            display: none;
        }

        .rt-responsive-header & {
            margin-left: auto;

            .rt-user-menu__list {
                display: flex;
                margin-bottom: 0;
                padding-left: 0;
            }

            .rt-user-menu__list-item {
                margin-right: $spacing-unit*1.5;
                font-size: $font-size-s;

                [class*="fa"],
                [class^="fa"] {
                    margin-right: $spacing-unit/5;
                }

                a {
                    display: flex;
                    align-items: center;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
          
            .rt-user-menu__list-item-label {
                font-size: 9px;
                // @include accessible-text;
            }
        }

        .rt-header-sezioni & {
            padding-right: $spacing-unit;
        }
    }
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}
@media all and (min-width: $breakpoint-laptop) {
	.rt-header {
        /* Set height for transition animation on scroll on height */
        height: $header-main-height + $spacing-unit*2;
		}

}

@media all and (min-width: $breakpoint-ipad-portrait) {
    .rt-header {
        /* Set height for transition animation on scroll on height */

        &.rt-header-sezioni {
            height: $header-height;
        }

        .is-scrolled & {
            height: $header-height-scrolled;

            .rt-header__logo-regione {
                margin-right: 0;
            }

            .rt-image-normal {
                display: none;
            }

            .rt-image-scroll {
                display: inline-block;
            }
        }

        // .signed-in.is-scrolled & {
        //     top: $admin-toolbar-height;
        // }

        .has-control-menu.has-control-panel.is-scrolled & {
            top: $admin-toolbar-height;
        }
    }

    /* Top header bar - logos and social pages */
    .rt-header__bar {
        justify-content: space-between;

        body:not(.is-scrolled) & {
            padding-bottom: $spacing-unit*2;
        }
    }


    .rt-header__logo-regione {
		width: 56px;
        .rt-header-sezioni & {
            margin-right: $spacing-unit*2;
        }
    }

    /* Logo Regione Toscana mobile hidden */
    .rt-logo-regione-mobile {
        display: none;
    }

    /* Social pages links wrapper */
    .rt-header__social {
        flex: 0 0 auto;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: baseline;

        .rt-header-sezioni & {
           margin-left: auto;
        }

        .is-scrolled & {
            .rt-social-media {
                
            }
        }
    }

    .rt-search-bar {
        input[type="text"] {
            //background: #FFFFFF;
            //box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.22);
        }

        .is-scrolled & {

            &.is-open {
                top: $header-height-scrolled;
                padding: 0 $spacing-unit;
            }

            form {
                width: 700px;
                float: right;
            }
        }

        .has-control-menu.has-control-panel.is-scrolled & {
            &.is-open {
                top: $header-height-scrolled + $admin-toolbar-height;

            }
        }
    }

    .rt-search-toggle {
        &.rt-search-toggle--scroll {
            .is-scrolled & {
                display: block;
            }
        }
    }

    .rt-header__logo-scroll {
        display: none;

        .is-scrolled & {
            display: block;
        }
    }

    .rt-secondary-menu__list {
        flex-flow: row nowrap;
    }

    .rt-secondary-menu__list {

        .rt-secondary-menu__item {

            a {
                padding: $spacing-unit;
            }

            &:last-of-type {
                a {
                    padding-right: 0;
                }
            }
        }
    }

    .rt-header__bottom-area {
        position: relative;
        transition: all $transition-durations ease;

        .rt-container {
            display: flex;
            align-items: center;
        }

        > .rt-container {
            .is-scrolled & {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                padding: 0;
            }
        }

        .is-scrolled & {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: $header-height-scrolled;
            padding-bottom: 0;
            padding-left: $spacing-unit*2;
            position: fixed;
            top: 0;
            right: 0;
            left: 280px;
            z-index: $rt-navbar-z-index + 1;

            &.rt-header-section__bottom-area {
                padding-left: 0;
                right: 235px;
                background: transparent;
            }
        }

        .has-control-menu.has-control-panel.is-scrolled & {
            top: $admin-toolbar-height;
        }
    }

    .rt-navigation {
        flex: 2;
    }

    .rt-search-bar {
        margin-left: auto;
        flex: 0 0 50%;
    }

    .rt-header__site-logo {
        flex: 0 0 276px;
        max-width: 276px;
        // height: 69px;
        // height: 83px;

        .rt-header__top-area-section & {
            flex: 0 0 244px;
            max-width: 244px;
            // height: 40px;
        }

        .rt-logo-label {
            font-size: $font-size-intermedium;
        }

        .is-scrolled & {
            flex: 0 0 180px;
            max-width: 180px;
            // height: 29px;

            .rt-logo-label {
                display: none;
            }
        }

        // .is-scrolled.is-room & {
        //     img {
        //         max-width: none;
        //         max-height: 100%;
        //     }
        // }
    }

    .rt-header-section__subtitle {
        font-size: $font-size-l;

        body:not(.is-scrolled) & {
            a {
                &:not(:first-of-type) {
                    font-size: $font-size-m;
                }
            }
        }

        body.is-scrolled & {
            font-size: $font-size-s;
        }
    }

    .rt-search-bar {
        .rt-header-section__bottom-area & {
            padding-bottom: $spacing-unit;
        }
    }

    /* User menu */
    .rt-user-menu {
        padding-right: $spacing-unit*2;

        &__list {
            display: flex;
            padding-left: 0;
        }

        &__list-item {
            font-size: $font-size-xs;

            & + .rt-user-menu__list-item {
                padding-left: $spacing-unit*1.5;
            }
        } 

        .is-scrolled & {
            position: fixed;
            top: $spacing-unit*2;
            right: $spacing-unit*6;
        }

        .is-scrolled.has-control-panel.has-control-menu & {
            &.rt-header-section__bottom-area {
                top: $spacing-unit*2 + $admin-toolbar-height;
            }
        }
    }


}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop) {

    .rt-header__social {
        // flex: 1;
    }

    .rt-social-media {
        padding-top: $spacing-unit/2;
    }

    .rt-secondary-menu__list {

        .rt-secondary-menu__item {
            font-size: $font-size-xs;
        }
    }
}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop-wide) {
 
}

@media all and (min-width: $breakpoint-laptop) {
    .rt-social-media__title {
        font-size: $font-size-xs;
    }

    .rt-header-section__subtitle {
        // font-size: $font-size-2m;
    }

    .rt-search-bar {
        margin-left: auto;
        flex: 0 0 440px;
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {

    .rt-header__site-logo {
        flex: 0 0 360px;
        max-width: 360px;
        // height: 74px;
        // height: 83px;
    }
}

@media all and (min-width: $ui-width) {
    .is-room {
        &:not(.is-scrolled) {
            .rt-header-section__subtitle {
                a {
                    &:not(:first-of-type) {
                        width: 930px;
                        position: absolute;
                        // top: 480px;
                        left: $spacing-unit/2;
                        font-size: $font-size-2m;
                    }
                }
            }
        }

        &.is-scrolled {
            .rt-subheader {
                &.rt-subheader--stanza {
                    &:not(.rt-subheader--proposta) {
                        .rt-subheader__text {
                            padding-top: $spacing-unit*4;
                        }
                    }
                }
            }
        }

        &.has-steps-wrapper {
            &:not(.is-scrolled) {
                .rt-header-section__subtitle {
                    a {
                        &:not(:first-of-type) {
                            top: 515px;
                        }
                    }
                }
            }
        }

        &.has-not-steps-wrapper {
            &:not(.is-scrolled) {
                .rt-header-section__subtitle {
                    a {
                        &:not(:first-of-type) {
                            top: 530px;
                        }
                    }
                }
            }
        }
    }

    .is-collabora {
        &:not(.is-scrolled) {
            .rt-header-section__subtitle {
                a {
                    &:not(:first-of-type) {
                        // top: 515px;
                        left: 65px;
                    }
                }
            }
        }
    }
}


@media all and (min-width: $ui-width + $spacing-unit*4) {
    .is-room {
        &:not(.is-scrolled) {
            .rt-header-section__subtitle {
                a {
                    &:not(:first-of-type) {
                        left: $spacing-unit*2.5;
                    }
                }
            }
        }
    }

    .is-collabora {
        &:not(.is-scrolled) {
            .rt-header-section__subtitle {
                a {
                    &:not(:first-of-type) {
                        left: $spacing-unit*2.5;
                    }
                }
            }
        }
    }
}
