/**
 * METEO
 *
 * Meteo section
 */

/* ------------------------------------ *\
   #METEO
\* ------------------------------------ */

//.rt-section-meteo {
//    .rt-section-meteo__wrapper {
//        @include wrapper-style;
//    }
//
//    .rt-section-meteo__text {
//        padding: $spacing-unit;
//    }
//
//    .rt-section-meteo__current-date {
//        margin-bottom: $spacing-unit;
//        padding-bottom: $spacing-unit;
//        position: relative;
//        font-weight: $font-weight-bold;
//        font-size: $font-size-ml;
//
//        &::after {
//            content: '';
//            display: block;
//            width: 140px;
//            height: 2px;
//            position: absolute;
//            bottom: 0;
//            background: $color-background-medium;
//        }
//    }
//
//    .rt-section-meteo__warning-list {
//        display: flex;
//        flex-flow: row wrap;
//    }
//
//    .rt-section-meteo__warning-list-element {
//        flex: 0 0 25%;
//        max-width: 25%;
//    }
//
//    .rt-section-meteo__warning-status {
//        color: $color-text-light;
//    }
//
//    .rt-section-meteo__warning-status-title {
//        padding-bottom: $spacing-unit;
//        font-weight: $font-weight-bold;
//        font-size: $font-size-m;
//    }
//
//    .rt-section-meteo__warning-status-actual {
//        padding-bottom: $spacing-unit;
//        font-size: $font-size-s;
//
//        .fa-circle {
//            margin-right: $spacing-unit/2;
//            border-radius: 50%;
//            border: 2px solid #ffffff;
//            box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
//            font-size: $font-size-s;
//        }
//
//        &.rt-section-meteo__warning-status-actual--green {
//            .fa-circle {
//                color: $color-warning-green;
//            }
//        }
//
//        &.rt-section-meteo__warning-status-actual--orange {
//            .fa-circle {
//                color: $color-warning-orange;
//            }
//        }
//
//        &.rt-section-meteo__warning-status-actual--yellow {
//            .fa-circle {
//                color: $color-warning-yellow;
//            }
//        }
//
//        &.rt-section-meteo__warning-status-actual--red {
//            .fa-circle {
//                color: $color-warning-red;
//            }
//        }
//    }
//
//    .rt-section-meteo__description {
//        p, & {
//            font-size: $font-size-s;
//        }
//
//        p {
//            margin-bottom: $spacing-unit/2;
//        }
//    }
//
//    .rt-section-meteo__slides {
//        display: flex;
//        padding: $spacing-unit/2;
//    }
//
//
//}

/* ------------------------------------ *\
   #METEO-CARD
\* ------------------------------------ */

.rt-meteo__card {
    padding: $spacing-unit/2;

    .rt-meteo__card-time {
        padding: $spacing-unit $spacing-unit/2 $spacing-unit/2;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
        color: $color-text-light;
    }

    //.rt-meteo__card-image {
    //    height: 0;
    //    padding-bottom: 105.555%;
    //    position: relative;
    //    overflow: hidden;
    //
    //    img {
    //        width: 100%;
    //        height: auto;
    //        position: absolute;
    //        top: 0;
    //        left: 0;
    //
    //    }
    //}
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    //.rt-section-meteo {
    //    .rt-section-meteo__slides {
    //        flex-wrap: nowrap;
    //        overflow-x: auto;
    //    }
    //
    //    .rt-section-meteo__warning-status {
    //        display: none;
    //    }
    //}

    .rt-meteo__card {
        flex: 0 0 auto;
        margin-right: 4%;
    }
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {

    //.rt-section-meteo {
    //
    //    .rt-section-meteo__wrapper {
    //        display: flex;
    //        position: relative;
    //
    //        &::before {
    //            content: '';
    //            display: block;
    //            width: 36px;
    //            position: absolute;
    //            top: 0;
    //            bottom: 0;
    //            left: 50%;
    //            background-image: linear-gradient(-90deg, #FFFFFF 0%, #F8F8F8 100%);
    //        }
    //    }
    //
    //    .rt-section-meteo__warning {
    //        display: flex;
    //        width: 50%;
    //        padding: $spacing-unit*2 $spacing-unit;
    //        position: relative;
    //        z-index: 1;
    //    }
    //
    //    .rt-section-meteo__warning-list,
    //    .rt-section-meteo__warning-status {
    //        flex: 1;
    //    }
    //
    //    //.rt-section-meteo__slides {
    //    //    flex: 0 0 50%;
    //    //    max-width: 50%;
    //    //}
    //
    //
    //    .rt-section-meteo__slides {
    //        padding: $spacing-unit;
    //        position: relative;
    //        z-index: 1;
    //    }
    //
    //    .rt-section-meteo__warning-status {
    //        padding-left: $spacing-unit*2;
    //    }
    //}

    //.rt-section-meteo__slides {
    //    width: 50%;
    //}

    .rt-meteo__card {
        flex: 1;
        //flex: 0 0 48%;
        //max-width: 48%;
        margin-right: 4%;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media all and (min-width: $breakpoint-laptop) {
}

@media all and (min-width: $breakpoint-laptop-wide) {
}

@media all and (min-width: $ui-width) {
}

@media all and (min-width: $breakpoint-laptop-wide) {

}