/**
 * PAGINATION
 *
 * Pagination styles
 */

/* ------------------------------------ *\
   #PAGINATION
\* ------------------------------------ */

.rt-pagination {
    padding: $spacing-unit 0;
    text-align: center;
}

.rt-pagination__list {
    display: inline-flex;
    align-items: baseline;

    .rt-pagination__item {
        padding: $spacing-unit;
        font-size: $font-size-ml;

        a {
        }

        .rt-btn {
            border-radius: 3px;
        }

        &.rt-pagination__item-current {
            font-weight: $font-weight-bold;
        }

        &.rt-pagination__item-more {
            a {
                color: $color-text;
            }
        }
    }
}

.pager {
    li {
        > a,
        > span {
            background: transparent;
            color: $color-partecipazione-hover;
            border-radius: 3px;
            border: none;
            // font-weight: $font-weight-light;
            font-size: $font-size-m;
            transition: all $transition-durations ease;

            &:hover,
            &:focus {
                background: transparent;
                color: $color-partecipazione-darker;
            }
        }
    }
}

.lfr-pagination {
    padding: $spacing-unit 0;

    .dropdown-toggle {
        color: $color-text-yellow;
        background: transparent;
        border: none;

        &:active {
            background: transparent;
            color: $color-text-hover;
            box-shadow: none;
        }

        &:hover {
            color: $color-text;
        }

        &:focus {
            box-shadow: 0 0 2px $color-text-yellow;
        }
    }

    .btn-default {
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            background: transparent;
        }
    }


    .btn-default:not(.rt-search-item__button):not(.rt-btn-round) {
        .lfr-icon-menu-arrow {
            margin-left: 2px;
            padding-left: 0;
        }
    }


}

.taglib-page-iterator {
    padding: $spacing-unit 0;

    .lfr-pagination-config {
        .lfr-pagination-delta-selector {
            display: none;
        }
    }

    .lfr-pagination {
        width: 100%;
        max-width: 1230px;
        margin-right: auto;
        margin-left: auto;
    }
}


/* Liferay pagination */
.pagination {
    >li {
        >a {
            color: $color-main;
        }

        &.active {

            >a {
                background-color: $color-main;
                border-color: $color-main;

                &:hover,
                &:focus {
                    background-color: $color-main;
                    border-color: $color-main;
                }
            }
        }
    }

}

/* Liferay pagination page number toggler */
.show.page-item .dropdown-toggle, .show.pagination-items-per-page .dropdown-toggle {
    background-color: $color-main;
    border-color: $color-main;
}

.pagination-items-per-page>a, 
.pagination-items-per-page>.btn-unstyled {
    color: $color-main;

    &:hover,
    &:focus {
        color: $color-text-hover;
    }
}

.page-item {
    margin-left: 0px;
    margin-right: 0px;
}

.pager {
    list-style: none;
    margin: 1.5 0;
    padding-left: 0;
    text-align: center
}

.pager::after {
    clear: both;
    content: "";
    display: table
}

.pager li {
    display: inline
}

.pager li>a,.pager li>span {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
	color: #2867B0;
}

.pager li>a:hover,.pager li>a:focus {
    background-color: #e9ecef;
    text-decoration: none
}

.pager .next>a,.pager .next>span {
    float: right
}

.pager .previous>a,.pager .previous>span {
    float: left
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
    background-color: #fff;
    color: #6c757d;
    cursor: not-allowed
}

.pagination>li {
    display: inline
}

.pagination>li:first-child>a {
    margin-left: 0;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem
}

.pagination>li:last-child>a {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem
}

.pagination>li.active>a,.pagination>li.active>a:hover,.pagination>li.active>a:focus {
    background-color: #eb2224;
    border-color: #eb2224;
    color: #fff;
    cursor: default;
    z-index: 2
}

.pagination>li.disabled>a,.pagination>li.disabled>a:hover,.pagination>li.disabled>a:focus {
    background-color: #fff;
    border-color: #dee2e6;
    color: #6c757d;
    cursor: not-allowed;
    pointer-events: none
}

.pagination>li>a {
    position: relative;
    float: left;
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: #eb2224;
    line-height: 1.25;
    margin-left: -1px;
    padding: .5rem .75rem;
	border: 0px!important;
}

.pagination>li>a:hover,.pagination>li>a:focus {
    background-color: #e9ecef;
    border-color: #dee2e6;
    color: #c81214;
    text-decoration: none
}

.pagination li:not(.disabled), .pagination li:not(.disabled) a {
    background: transparent !important;
    border: 0;
    color: #eb2224 !important;
}

.lfr-pagination-page-selector span.lfr-icon-menu-text {
    font-size: 1.25rem;
	font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

.taglib-page-iterator .search-results {
    line-height: 50px;
}

.pagination-items-per-page > a, .pagination-items-per-page > button {
    color: #eb2224;
}

.pagination li:not(.disabled).active, .pagination li:not(.disabled).active a {
    background-color: #eb2224 !important;
    color: #fff !important;
}

.pagination-items-per-page > a:hover, .pagination-items-per-page > button:hover {
    color: #eb2224 !important;
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */


@media all and (max-width: $breakpoint-laptop + 19px) {
    .taglib-page-iterator
    .lfr-pagination-buttons {
        > li {
            padding: 0 $spacing-unit;
            > a {
                width: 100%;
            }
        }
    }
}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {
    .taglib-page-iterator {
        padding: $spacing-unit*2 0;
    }

    .lfr-pagination {
        padding: $spacing-unit*2 0;
    }
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .rt-pagination__list {
        .rt-pagination__item:not(.rt-pagination__item-current):not(.rt-pagination__item-previous):not(.rt-pagination__item-previous) {
            display: none;
        }
    }
}

@media all and (max-width: $breakpoint-smartphone-landscape) {

    .rt-pagination {
        margin: $spacing-unit*2 0;
        padding: $spacing-unit*2 0;
    }
}