/**
 * SLIDER
 *
 * Style for homepage slider
 */

/* ------------------------------------ *\
   #SLIDER
\* ------------------------------------ */

.rt-slider {
    position: relative;
}

.rt-slider-wrapper {

    .rt-container {
        padding-bottom: $spacing-unit*2;
        position: relative;

        &::after {
            content: '';
            display: block;
            height: 4px;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            border-top: 1px solid transparentize($color-text-form-placeholder, 0.7);
            border-bottom: 1px solid transparentize($color-text-form-placeholder, 0.7);
        }
    }

    .flex-control-nav {
        bottom: 0;
    }

    .flex-control-paging {
        li {
            margin: 0 8px;

            a {
                //display: flex;
                //align-items: center;
                //justify-content: center;
                width: 0;
                height: $spacing-unit*2;
                padding-left: 16px;
                background: transparent;
                border-radius: 50%;
                border: 2px solid #ffffff;
                overflow: hidden;
                position: relative;

                &.flex-active {
                    &::before {
                        content: '';
                        display: block;
                        width: 7px;
                        height: 7px;
                        border: 5px solid transparent;
                        background: #ffffff;
                        border-radius: 50%;
                        position: absolute;
                        @include position-centering;
                    }
                }

            }
        }
    }
}

// Single slide

.rt-slider__slide {
    position: relative;

    .rt-slider__slide-content {
        padding: $spacing-unit;
        position: absolute;
    }

    .rt-slider__slide-title {
        font-size: $font-size-ml;
        color: #ffffff;
    }

    &.rt-slider__slide-servizi {
        .rt-slider__slide-content {
            background: transparentize($color-servizi, 0.2);
			background: rgba(222, 155, 99, 0.95);
        }
    }

    &.rt-slider__slide-partecipazione {
        .rt-slider__slide-content {
            background: $color-partecipa-transparent-02;
        }

        .rt-slider__slide-title {
            color: $color-text;
        }
    }

    &.rt-slider__slide-dati {
        .rt-slider__slide-content {
            background: transparentize($color-dati, 0.2);
        }
    }

    .rt-slider__slide-footer {
        padding: $spacing-unit 0;
    }

    .rt-btn-round {
        background: #ffffff;

        [class*="fa"] {
            color: $color-text;
        }
    }

    .rt-slider__slide-informations {
        padding-right: $spacing-unit;
        font-size: $font-size-xs;
        @include text-ellipsis(100%);
    }
    .rt-slider__list
    .rt-slider__slide-menu-item {
        padding-top: $spacing-unit;
        position: relative;

        .rt-slider__slide-menu-item-title {
            font-size: $font-size-xs;
            font-weight: $font-weight-bold;
        }

        &::before {
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background: transparentize($color-text-form-placeholder, 0.7);
        }
    }

    &.flex-active-slide {
        .rt-slider__slide-menu-item {
            color: $color-main;

            &::before {
                background: $color-main;
            }

        }
    }

}


/* Slider arrows */


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {

    .rt-slider__slide {
        position: relative;

        .rt-slider__slide-content {
            display: flex;
            flex-flow: column nowrap;
            padding-bottom: $spacing-unit*5;
            right: 0;
            bottom: $spacing-unit*3;
            left: 0;
        }

        .rt-slider__slide-title {
            order: 1;
        }

        .rt-slider__slide-informations {
            padding-right: $spacing-unit*4.5;
            order: 2;

            strong {
                display: block;
            }
        }

        .rt-slider__slide-excerpt,
        .rt-btn__label {
            display: none;
        }

        .rt-slider__slide-footer {
            position: absolute;
            right: $spacing-unit;
            bottom: 0;
        }

        .rt-slider__slide-menu-item {

            .rt-slider__slide-menu-item-title {
                display: none;
            }
        }

        .rt-slider__slide-menu-item {

            &::before {
                height: $spacing-unit;
            }
        }

        &.flex-active-slide {
            .rt-slider__slide-menu-item {
                &::after {
                    height: $spacing-unit;
                }
            }
        }
    }

    .rt-slider--navigation-menu {
        .slides {
            &.rt-slider__list {
                display: flex;
                width: 100% !important;
                transform: none !important;
            }
        }

        .rt-slider__slide {
            flex: 3;

            &.flex-active-slide {
                flex: 1;
            }
        }
    }

    .rt-slider--main-slider {
        .rt-slider__slide {
            height: 0;
            padding-bottom: 33vh;
            overflow: hidden;
        }

        .slides {

            img {
                max-width: initial;
                height: 100%;
                display: block;
                position: absolute;
                @include horizontal-centering;
            }
        }
    }

}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {
    .rt-slider-wrapper {
        .flex-control-paging {
            li {
                margin: 0 12px;

                a {
                    height: $spacing-unit*3;
                    padding-left: 24px;
                    border-width: 3px;

                    &.flex-active {
                        &::before {
                            width: 14px;
                            height: 14px;
                            border-width: 7px;
                        }
                    }

                }
            }
        }
    }

    .rt-slider__slide {

        .rt-slider__slide-content {
            display: flex;
            flex-flow: column nowrap;
            width: 60%;
            padding: $spacing-unit*2;
            top: $spacing-unit*4;
            left: 0;
            //right: 0;
        }

        .rt-slider__slide-title {
            font-size: $font-size-l;
        }

        .rt-slider__slide-footer {
            padding: 0;
            margin-top: auto;
            text-align: right;
        }

        .rt-slider__slide-informations {
            margin-bottom: $spacing-unit;
            font-size: $font-size-s;

            strong {
                margin-right: $spacing-unit/2;
            }
        }

        .rt-slider__slide-excerpt {

        }

        .rt-slider__slide-menu-item {
            .rt-slider__slide-menu-item-title {
                font-size: $font-size-s;
            }
        }

        &.flex-active-slide {
            .rt-slider__slide-menu-item {

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 45px;
                    background: $color-text-dark;
                }
            }
        }
    }

    //.rt-slider--navigation-menu {
    //    .flex-viewport {
    //        position: relative;
    //
    //        &::before {
    //            content: '';
    //            display: block;
    //            width: 50%;
    //            height: 2px;
    //            position: absolute;
    //            top: $spacing-unit;
    //            right: 0;
    //            //left: 0;
    //            background: transparentize($color-text-form-placeholder, 0.7);
    //        }
    //    }
    //}
}


@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $breakpoint-laptop-wide) {
    .rt-slider__slide {
        .rt-slider__slide-content {
            bottom: 40px;
        }
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {

    .rt-slider__slide {

        .rt-slider__slide-content {
            max-width: 590px;
            padding: $spacing-unit*2 $spacing-unit*2 $spacing-unit*2 12%;
            @include vertical-centering;
        }

        .rt-slider__slide-title {
            font-size: $font-size-xl;
        }

        .rt-slider__slide-excerpt {
            p {
                font-size: $font-size-intermedium;
            }
        }
    }
}

@media all and (min-width: $ui-width) {
    .rt-slider__slide {

        .rt-slider__slide-footer {
            padding: $spacing-unit*2 0 0 0;
        }

        .rt-slider__slide-title {
            font-size: $font-size-xxxl;
        }
    }
}
