/**
 * SUBHEADER
 *
 * Subheader style
 */

/* ------------------------------------ *\
   #SUBHEADER
\* ------------------------------------ */
.rt-subheader {
    &.rt-subheader--has-image {
        height: 0;
        position: relative;
        padding-bottom: 25vh;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &.rt-subheader--section {
        background-color: #ffffff;

        .rt-subheader__content {
            @include background-image;
        }
        
        &.rt-subheader--internal-page-faq,
        &.rt-subheader--search,
        &.rt-subheader--index-intermedium,
        &.rt-subheader--internal-page {
            // background: url($image-path + 'image-subheader-internal-responsive.jpg') right bottom no-repeat;
            @include background-image-header;
        }

        // &.rt-subheader--search {
        //     background: url($image-path + 'bg-subheader-search-mobile.jpg') right bottom no-repeat;
        //     background-size: cover;
        // }

        // &.rt-subheader--internal-page-faq {
        //     background: url($image-path + 'image-faq.png') right bottom no-repeat;
        //     background-size: cover;
        // }

    }

    &.rt-subheader--landing {
        .rt-subheader__title {
            font-weight: $font-weight-bold;
        }

        .rt-subheader__title-emphasis {
            color: $color-main;
        }

        .rt-subheader__description {
            display: flex;
            flex-flow: row wrap;
        }

        .rt-subheader__description-block {
            margin-right: $spacing-unit;
            margin-bottom: $spacing-unit/2;
            font-weight: $font-weight-medium;
            font-size: $font-size-s;

            [class^="fa"],
            [class*="fa"] {
                color: $color-main;
            }
        }

        .rt-subheader__action-text {
            color: $color-main;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
        }
    }

    &.rt-subheader--section-generic {
        background-color: #ffffff;
    }

    &.rt-subheader--comunita {
        background: #f6f6f6 url($image-path + 'cooperative-image.jpg') center bottom no-repeat;
        background-size: contain;
    }

    &.rt-subheader--section-partecipazione-home,
    &[class*="rt-subheader--section-accoglienza-"] {
        .rt-subheader__content {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &.rt-subheader--section-accoglienza-home {
        .rt-subheader__content {
            text-align: center;
            color: #ffffff;

            [class*="openico"] {
                font-size: 60px;
            }
        }
    }

    &.rt-subheader--section-accoglienza-detail {
        background-image: url($image-path + 'placeholder.png');

        .rt-subheader__content {
            padding-bottom: 0;
        }

        .rt-subheader__text {
            padding-top: $spacing-unit*1.5;
            background: $body-bg;
            border-top: 14px solid $color-partecipazione;
        }

        .rt-subheader__title {
            font-size: $font-size-l;
        }
    }

    // &.rt-subheader--section-startup-detail {
    //     .rt-subheader__text {
    //         background: #ffffff;
    //     }
    // }

    &.rt-subheader--section-collabora {
        background-color: $color-partecipazione-dark;
        background-image:  url($image-path + 'placeholder-collabora.png');
    }

    &.rt-subheader--section-partecipazione-home {
        padding-bottom: 15vh;

        .rt-subheader__content {
            @include wrapper;
        }

        .rt-subheader__logo {
            bottom: 0;
            left: 0;
        }
    }

    &.rt-subheader--details {
        background: #ffffff;

        .rt-subheader__title {
            margin-bottom: $spacing-unit/2;
            color: $color-text;
        }

        .rt-subheader__subtitle {
            margin-bottom: 0;
            padding-bottom: $spacing-unit/2;
            border-bottom: $spacing-unit/2 solid $color-partecipazione;
        }
    }

    &.rt-subheader--text {
        .rt-subheader__title {
            color: $color-text;
        }
    }

    .rt-subheader__label {
        padding: $spacing-unit/2;
        background: $color-partecipazione;
        color: #ffffff;
        font-weight: $font-weight-bold;
        font-size: $font-size-s;

        transition: all $transition-durations ease-in;

        &:hover,
        &:focus {
            background: $color-partecipazione-darker;
        }
    }

    .rt-subheader__back {
        display: flex;
        align-items: center;
        color: $color-text-light;

        &:hover,
        &:focus {
            color: $color-main;
        }
    }

    .rt-subheader__content {
        padding: $spacing-unit*2 0;
    }

    &.rt-subheader--text {

        &:not(.rt-subheader--news) {
            .rt-subheader__content {
                padding-right: $spacing-unit*5;
            }
        }
    }

    .rt-subheader__title {
        margin-bottom: $spacing-unit*1.5;
        line-height: 1.2;
        font-size: $font-size-l;

        &.rt-subheader__title--main {
            font-weight: $font-weight-bold;
        }

        .rt-subheader__icon {
            font-size: $font-size-ll;
        }
    }

    .rt-subheader__abstract {
        font-weight: $font-weight-normal;
    }

    .rt-subheader__subtitle {
        font-weight: $font-weight-bold;
        font-size: $font-size-l;
    }

    .rt-subheader__wrapper {
        height: 100%;
    }

    .fa-bullseye {
        margin-right: $spacing-unit/2;
        //color: $color-main;
    }

    .rt-subheader__taxonomy {
        display: flex;
        align-items: center;

        .fa-circle {
            margin-right: $spacing-unit/2;
            font-size: 6px;
        }

        a {
            color: $color-text;
            &:hover,
            &:focus {
                color: $color-main;
            }
        }

        &.rt-subheader__taxonomy-emphasis {
            font-weight: $font-weight-bold;
        }
    }

    .rt-subheader__taxonomy-main {
        margin-right: $spacing-unit/2;
        font-weight: $font-weight-bold;

        [class*="fa"] {
            margin-right: $spacing-unit/2;
            //color: $color-main;
        }
    }

    .navbar {
        padding: 0;
    }

    .rt-subheader__mobile-excerpt {
        line-height: 1.6;
    }

    .rt-btn-video {
        position: absolute;
    }

    .rt-subheader__logo {
        position: absolute;
    }

    &.rt-subheader--speciali {

        .rt-subheader__wrapper {
            background-size: cover;
        }
    }

    &.rt-subheader--overlay {
        background-size: cover;

        .rt-btn-round {
            box-shadow: 0 2px 50px 0 rgba(0,0,0,0.60);
        }
    }

    .rt-subheader__category {
        position: absolute;
        top: $spacing-unit*3;
        right: 0;

        .rt-subheader__category-label {
            padding-bottom: $spacing-unit*1.5;
            font-size: $font-size-xxs;
            font-weight: $font-weight-bold;
            color: $color-text-label;
        }

        [class*="fa"] {
            font-size: 50px;
        }
    }

    .rt-subheader-dropdown-toggle {
        position: absolute;
        top: $spacing-unit*3;
        right: 0;

        .rt-subheader-dropdown-toggle-text {
            display: flex;
            align-items: center;
            transition: all $transition-durations ease;

            &.is-visible {
                @include visible-element(auto);
            }

            &.is-hidden {
                @include hidden-element;
            }

            &.rt-subheader-dropdown-toggle-close {
                margin-top: -$spacing-unit*2.4;
            }
        }

        .rt-subheader-dropdown-toggle__label {
            margin-right: $spacing-unit/2;
            font-weight: $font-weight-bold;
            font-size: $font-size-s;
        }

        [class*="fa"] {
            font-size: $font-size-l;
        }

        .rt-subheader-dropdown-toggle-close {
            color: $color-text-light;
        }
    }

    .rt-subheader__icon {
        margin-right: $spacing-unit/2;
        color: $color-main;
        font-size: $font-size-l;
    }

    .rt-subheader__search-results-label {
        font-weight: $font-weight-bold;
        font-size: $font-size-s;
    }

    .rt-subheader__search-results-number {
        font-size: $font-size-s;
        color: $color-text-light;
    }

    &.rt-subheader--search {
        .rt-subheader__title {
            margin-bottom: $spacing-unit/2;
        }
    }

    .rt-subheader__date {
        display: inline-flex;
        align-items: center;
        background: #ffffff;

        .rt-subheader__date-day,
        .rt-subheader__date-month {
            padding: $spacing-unit/2 $spacing-unit;
        }

        .rt-subheader__date-day {
            background: $color-text-yellow;
            font-weight: $font-weight-bold;
            color: #ffffff;
        }

        .rt-subheader__date-month {
            font-size: $font-size-s;
        }
    }

    &.rt-subheader--news {
        .rt-subheader__content {
            display: flex;
            align-items: flex-start;
        }

        .rt-subheader__title {
            margin-right: $spacing-unit;
        }
    }

    &.rt-subheader--services {
        background: rgba(222, 155, 99, 0.95);

        [class*="openico"] {
            color: #ffffff;
            font-size: $font-size-xxl;
        }

        .rt-subheader__title,
        .rt-subheader__subtitle {
            color: #ffffff;
        }

        .rt-subheader__title {
            font-weight: $font-weight-normal;
        }

        .rt-subheader__subtitle {
            font-size: $font-size-m;
            font-weight: $font-weight-medium;
        }

        .rt-form-item {
            input[type="text"],
            select {
                padding-left: $spacing-unit*1.5;
            }   
        }

        .rt-search-bar {

            input[type="text"] {
                border-radius: 0;
                height: $form-input-small-height;
                line-height: $form-input-small-height;
                box-shadow: none;
            }

            .input-group-inset-item-after {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .is-scrolled & {
                display: block;
                box-shadow: none;
                margin-left: auto;

                form {
                    width: auto;
                    float: none;
                }
            }
        }
     
    }

    &.rt-subheader--services-full {
        min-height: $spacing-unit*10;

        .rt-subheader__title {
            margin-bottom: 0;
        }

        .rt-subheader__content {
            text-align: center;
            align-items: center;
        }

        .rt-subheader__category {
            display: flex;
            align-items: baseline;
            color: #ffffff;
            top: $spacing-unit*2;
            left: 0;

            [class*="openico"] {
                font-size: $font-size-l;
            }

            .rt-subheader__category-name {
                font-size: $font-size-l;
            }
        }
    }

    &.rt-subheader--services-detail {
        .rt-subheader__title {
            text-transform: uppercase;
            font-size: $font-size-xl;
        }

        .rt-subheader__content {
            [class*="ot-icon"] {
                display: flex;
                align-items: center;
                justify-items: center;
                width: 59px;
                height: 59px;
                margin-right: $spacing-unit;
                border-radius: 50%;
                background: #ffffff;
                color: $color-servizi;
                font-size: 56px;
                border: 2px solid #ffffff;
            }
        }

        .rt-btn {
            width: 100%;

            [class*="fa"] {
                color: $color-servizi;
            }
           
    
            &:hover,
            &:focus,
            &:active {
                color: $color-servizi-hover;
            }
        }
    }

    .rt-subheader__tags {
        font-size: $font-size-s;
        color: rgba(255,255,255,0.7);

        [class*="fa"] {
            margin-right: $spacing-unit;
        }

        .rt-subheader__tags-item {
            color: inherit;
            &:hover,
            &:focus {
                color: rgba(255,255,255,1);
            }

            & + .rt-subheader__tags-item {
                &::before {
                    content: '•';
                    margin-right: $spacing-unit/2;
                }
            }
        }
    }

    &.rt-subheader--section-subsection {
        .rt-subheader__icon {
            width: 40px;
            height: 40px;
            margin-left: auto;
            padding-left: $spacing-unit;
            @include background-image;
            background-image: url('src/images/icons/open-colored.svg');
        }
    }

    .rt-subheader__section-icon {
        display: inline-block;
        width: 64px;
        height: 64px;
        @include background-image;
        background-image: url('src/images/icons/open-colored.svg');
    }

    &.rt-subheader--index-intermedium {
        .rt-subheader__content {
            position: absolute;
            bottom: 0;
            background: #ffffff;
        }
    }

    &.rt-subheader--stanza {
        .rt-subheader__title {
            margin-bottom: $spacing-unit/2;
            font-weight: $font-weight-bold;

            a {
                color: inherit;

                &:hover,
                &:focus {
                    color: $color-text-hover;
                }
            }
        }

        .rt-subheader__steps {
            display: flex;
            flex-flow: row wrap;

            &.is-disabled {
                .rt-steps-bar,
                .rt-steps-counter,
                .rt-steps-view {
                    opacity: 0.5;
                    color: $color-disabled;
                }

                .rt-steps-view {
                    cursor: not-allowed;
                    [class*="fa"] {
                        color: $color-disabled;
                    }
                }
            }
        }

        .rt-subheader__subtitle {
            font-weight: $font-weight-light;
            text-transform: uppercase;
            font-size: $font-size-ml;
        }

        .rt-subheader__excerpt {
            &.rt-text-expandable {
              
            }

            .rt-text-expandable-container {
                display: flex;
                align-items: baseline;
                flex-flow: row wrap;
            }

            .rt-section-expand {
                justify-content: flex-start;
            }

            .rt-text-expandable-content {
                padding: 0;
                height: 2rem;
                width: 58rem;
                &::before {
                    display: none;
                }

                &.is-shown {
                    height: auto;
                    @include flex-item-width(100%);
                }
            }
        }

        &:not(.rt-subheader--proposta) {
            margin-bottom: $spacing-unit;

            .rt-subheader__text {
                background: $body-bg;
                transition: all $transition-durations ease;
            }
        }

        &.rt-subheader--stanza-new {
            .rt-subheader__text {
                background: rgba($body-bg, 0.9);
            } 
        }
    }

    &.rt-subheader--proposta {

        .rt-subheader__content {
            padding: 0;
        }
       
        .rt-subheader__text {
            border-top: $spacing-unit solid $color-partecipazione; 
            background: #ffffff;
        }

        .rt-subheader__title {
            font-size: $font-size-ml;
        }

        .rt-btn-light {
            [class*="fa"] {
                padding-left: 0;
                margin-right: $spacing-unit;
            }
        }
    }

    &.rt-subheader--stanza-fasi {
        .rt-subheader__title {
            font-size: $font-size-m;
        }
    }

    .partecipa-toscana-1-column-62 & {
        display: none !important;
    }

    .rt-subheader__login {
        display: flex;
        align-items: center;
        padding: $spacing-unit;
     
        &:not(.is-logged) {
            background: $color-partecipazione;

            &, p, a {
                color: #ffffff;
            }

            a {
                &:hover,
                &:focus {
                    color: $color-text-hover;
                }
            }
        }

        &, p {
            font-size: $font-size-xs;
            line-height: 1.2;
            font-weight: $font-weight-medium;
        }

        a {
            color: $color-text;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $color-text-hover;
            }
        }

        [class*="fa"],
        [class^="fa"] {
            margin-left: $spacing-unit/2;
        }
    }

    &.rt-subheader--dark {
        .rt-subheader__title {
            color: $color-text;
        }
    }

    &.rt-subheader--section-agenda-home {
        .rt-subheader__title {
            color: #222;
        }
    
        .rt-subheader__title-emphasis {
            color: #222;
        }
    }
}

/* Room text for new room - ex subheader text */
.rt-room-text {
    &__title {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-size: $font-size-l;
    }

    &__excerpt {
        font-size: $font-size-s;
    }
}

/* ------------------------------------ *\
   #SUBHEADER-WORKSHOP
\* ------------------------------------ */

.rt-subheader__workshop {

    .rt-subheader__workshop-label {
        @include text-shadow;
        font-weight: $font-weight-bold;
    }

    .rt-subheader__workshop-detail-cta {
        position: relative;

        [class*="fa"] {
            position: absolute;
            right: $spacing-unit*2;
        }
    }

    .rt-subheader__workshop-detail {
        display: flex;
        align-items: baseline;
        padding-bottom: $spacing-unit;
        font-size: $font-size-m;

        [class*="fa"] {
            margin-right: $spacing-unit/2;
            font-size: $font-size-m;
        }

        strong {
            white-space: nowrap;
        }
    }

    .rt-subheader__workshop-detail-place-subtext {
        font-size: $font-size-s;
    }


}

/* ------------------------------------ *\
   #SUBHEADER-MENU
\* ------------------------------------ */

.rt-subheader__menu {

    .rt-container {
        display: flex;
    }

    .rt-subheader__menu-list {

        li {
            position: relative;

            a {
                display: flex;
                align-items: center;
                height: 100%;
                padding: $spacing-unit 0;
                font-weight: $font-weight-medium;
                color: $color-text;
                border-bottom: 1px solid $color-border-normal;

                [class*="fa"] {
                    margin-left: auto;
                    color: $color-main;
                }
            }

            &:last-of-type {
                a {
                    border-bottom: none;
                }
            }
        }
    }

    .rt-subheader__menu-special {
        position: absolute;
        right: $spacing-unit;
        bottom: $spacing-unit/2;
        color: $color-main;
        font-size: $font-size-xxs;
    }

    .rt-subheader__menu-categories-item {
        color: $color-text;
        font-weight: $font-weight-medium;
        font-size: $font-size-m;

        [class*="fa"] {
            transition: all $transition-durations ease;
            color: $color-text-form-placeholder;
        }

        &:hover,
        &:focus {
            color: $color-main;

            [class*="fa"] {
                color: $color-main;
            }
        }
    }
}

/* ------------------------------------ *\
   #STANZE-STEPS
\* ------------------------------------ */
.rt-steps-bar {
    display: flex;
    list-style: none;
    margin: 0 0 $spacing-unit 0;
    padding: 0;

    .rt-steps-bar__step {
        height: $step-size-small;
        flex: 1;
        position: relative;

        &:first-of-type {
           @include flex-item-width($step-size-small);
        }

        &:not(:first-of-type) {
            &::before {
                content: '';
                height: $spacing-unit/2;
                position: absolute;
                right: 0;
                left: 0;
                @include vertical-centering;
                background: $color-background-dark;
            }
        }

        .rt-steps-bar__step-dot {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $step-size-small;
            height: $step-size-small;
            position: absolute;
            right: 0;
            border-radius: 50%;
            border: $spacing-unit/2 solid $color-background-dark;
            background: #ffffff;
        }

        &.is-active {
            &::before {
                background: $color-background-black;
            }

            .rt-steps-bar__step-dot {
                border-color: $color-background-black;

                &::before {
                    content: '';
                    display: block;
                    width: $step-decoration-size-small;
                    height: $step-decoration-size-small;
                    border-radius: 50%;
                    background: $color-partecipazione;
                }
            }
        }
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .rt-subheader {

        &.rt-subheader--comunita {
            background-size: cover;
            background-position: right 70% center;
        }

        .rt-container {
            padding: 0;
        }

        .rt-subheader__label {
            margin-bottom: $spacing-unit;
        }

        .rt-subheader__back {
            width: 50px;
            height: 50px;

            .rt-subheader__back-label {
                display: none;
            }
        }

        .rt-subheader__abstract {
            //margin-left: $spacing-unit;
            font-size: $font-size-s;
        }

        .rt-btn-round {
            position: absolute;
            right: $spacing-unit*1.5;
            bottom: $spacing-unit*1.5;

            [class*="fa"] {
                margin-left: $spacing-unit/2;
                margin-right: $spacing-unit/2;
            }

            .rt-btn-round__label {
                display: none;
            }
        }

        .rt-subheader__content {
            display: flex;
            padding: $spacing-unit*1.5;
        }

        &.rt-subheader--section-subsection {
            .rt-subheader__content {
                padding: $spacing-unit*1.5 $spacing-unit;
            }
        }

        &:not(.rt-subheader--news) {
            .rt-subheader__content {
                flex-flow: column nowrap;
            }
        }

        .rt-subheader__category {
            display: none;
        }

        .rt-subheader__logo {
            width: 92px;
            height: auto;
            bottom: $spacing-unit*1.5;
            left: $spacing-unit*1.5;
        }

        .rt-search-bar {
            display: block;
            position: static;
            background: transparent;
        }

        &.rt-subheader--section-subsection {
            .rt-subheader__content {
                display: flex;
                flex-flow: row nowrap;
            }
        }

        &.rt-subheader--section-accoglienza-home {
            background-position: center top;
            .rt-subheader__content {
                align-items: center;
            }
        }

        &.rt-subheader--section-partecipazione-home {
            .rt-subheader__logo {
                width: 157px;
                height: 54px;
            }
        }

        &.rt-subheader--section-accoglienza-detail,
        &.rt-subheader--stanza {
            height: auto;
            padding-bottom: 0;
            background-size: contain;

            .rt-subheader__steps {
                margin-bottom: $spacing-unit*1.5;
            }

            .rt-subheader__button {
                .rt-btn-light {
                    width: auto;
                }
            }

            &.rt-subheader--has-image {
                .rt-subheader__content {
                    padding-top: 20vh;
                    position: static;
                }
            }

            .rt-subheader__content {
                padding-right: 0;
                padding-left: 0;
            }

            .rt-steps-bar {
                @include flex-item-width(49%);
            }

            .rt-steps-counter {
                margin-left: auto;
                @include flex-item-width(49%);
                font-size: $font-size-xs;
                text-align: right;
            }

            .rt-steps-view,
            .rt-steps-join {
                width: 49%;
                font-size: $font-size-s;
            }
        }

        &.rt-subheader--proposta {
            .rt-subheader__text {
                padding-top: $spacing-unit*2;
            }

            .rt-subheader__title {
                margin-bottom: $spacing-unit;
            }

            .rt-subheader__steps {
                display: flex;
                flex-flow: row wrap;
                margin-bottom: $spacing-unit/2;
            }

            .rt-steps-bar {
                margin-bottom: 0;
            }

            .rt-steps-counter,
            .rt-steps-bar {
                @include flex-item-width(50%);
            }

            .rt-steps-counter {
                margin-left: auto;
                font-size: $font-size-s;
                text-align: right;
            }
        }

        &.rt-subheader--has-image {
            &.rt-subheader--landing {
                height: auto;
                padding-bottom: 0;
                background-position: bottom right;
                background-size: auto 20vh;
        
                .rt-subheader__content {
                    padding-bottom: 20vh;

                    .rt-container {
                        padding-bottom: $spacing-unit;

                    }
                }
        
            }
        }

    }

    .rt-subheader__taxonomy {
        font-size: $font-size-s;

    }

    .rt-navbar-toggle {
        padding: $spacing-unit;

        [class*="fa"] {
            font-size: $font-size-l;
        }

        .rt-navbar-toggle__label {
            font-size: $font-size-xs;
        }
    }

    .rt-subheader__workshop {
        padding: $spacing-unit $spacing-unit $spacing-unit*6.5;
    }

    .rt-subheader__menu {

        .rt-container {
            flex-flow: column nowrap;
        }

        .rt-subheader__menu-excerpt {
            display: none;
        }

        .rt-subheader__menu-categories {
            display: flex;
            flex-flow: column nowrap;
            order: 3;
        }

        .rt-subheader__menu-list {
            margin-right: -$spacing-unit*1.5;
            margin-left: -$spacing-unit*1.5;
            padding: $spacing-unit*2;
            order: 1;
            @include expand-menu;
        }

        .rt-subheader__menu-categories-item {
            display: flex;
            align-items: center;
            padding: $spacing-unit 0;
            font-size: $font-size-m;
            border-bottom: 1px solid $color-border-normal;

            &:last-of-type {
                border-bottom: none;
            }

            .rt-subheader__menu-categories-label {
                order: 1;
            }

            [class*="fa"] {
                order: 2;
                margin-left: auto;
            }
        }

        .rt-mobile-menu-expand {
            margin-right: -$spacing-unit*1.5;
            margin-left: -$spacing-unit*1.5;
            order: 2;
        }
    }

}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {

    .rt-subheader {

        &.rt-subheader--has-image {
            &.rt-subheader--section {
                padding-bottom: 25vh;

                &.rt-subheader--section-accoglienza-home {
                    padding-bottom: 25%;
                }

                &.rt-subheader--section-accoglienza-detail {
                    padding-bottom: 39.584%;
                }

            }

            &.rt-subheader--section-startup-detail {
                background-position: right top;
            }

            &.rt-subheader--landing {
                padding-bottom: 300px;
                background-position: center center;
            }
        }

        &.rt-subheader--landing {

            .rt-subheader__title {
                font-size: $font-size-xl;
            }
            
            .rt-subheader__description-block {
                margin-right: $spacing-unit*2;
                font-size: $font-size-ml;

                &:first-child {
                    width: 100%;
                }
            }

            .rt-subheader__action-text {
                margin-bottom: 0;
                font-size: $font-size-ml;
                line-height: 1.1;
            }

            .rt-subheader__action {
                display: flex;
                align-items: center;
                padding-top: $spacing-unit*2.5;
            }

            .rt-subheader__action-buttons {
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
                padding-left: $spacing-unit*2;
            }

            .rt-subheader__app-btn-appstore {
                margin-right: $spacing-unit*2;
            }
        }

        &.rt-subheader--index-intermedium,
        &.rt-subheader--internal-page {
            padding-bottom: 13.333%;
        }

        &.rt-subheader--internal-page {
            .rt-subheader__content {
                width: 60%;
            }
        }

        &.rt-subheader--index-intermedium {
            .rt-subheader__content {
                max-width: 70%;
                padding: $spacing-unit;
            }
        }

        &.rt-subheader--details {
            .rt-subheader__content {
                display: flex;
                align-items: flex-start;
            }

            .rt-subheader__title-wrapper {
                padding-left: $spacing-unit*2;
            }

            .rt-subheader__title,
            .rt-subheader__subtitle {
                font-size: $font-size-ll;
            }
        }

        .rt-subheader__label {
            padding: $spacing-unit*1.5 $spacing-unit*2;
            text-align: center;
            font-size: $font-size-m;
        }

        .rt-subheader__back {
            padding-bottom: $spacing-unit*2;

           [class*="fa"] {
               margin-right: $spacing-unit;
           }
        }

        .rt-container {
            height: 100%;
			padding-left: 0;
			padding-right: 0;
        }

        &.rt-subheader--home {
            .rt-subheader__content {
                width: 75%;
                padding: $spacing-unit*3 0;
            }
        }

        .rt-subheader__content {
            position: relative;
        }

        &.rt-subheader--details {
            .rt-subheader__content {
                width: 100%;
            }
        }

        .rt-subheader__taxonomy {
            padding-bottom: $spacing-unit;

            &.rt-subheader__taxonomy-emphasis {
                font-size: $font-size-intermedium;
            }
        }

        .rt-subheader__mobile-excerpt {
            display: none;
        }

        .rt-subheader__abstract {
            font-size: $font-size-ml;
        }

        .rt-subheader__title {
            font-size: $font-size-xxl;

            &.rt-subheader__title--main {
                font-size: $font-size-xxxl;
            }

            .rt-subheader__icon {
                font-size: $font-size-xxxl;
            }
        }

        .rt-subheader__subtitle {
            font-size: $font-size-l;
        }

        &:not(.rt-subheader--section-partecipazione-home) {
            .rt-subheader__logo {
                @include vertical-centering;
                right: 0;
            }
        }

        .rt-subheader__icon {
            font-size: $font-size-xl;
        }

        .rt-subheader__date {
            margin-left: auto;

            .rt-subheader__date-day,
            .rt-subheader__date-month {
                padding: 0 $spacing-unit;
            }

            .rt-subheader__date-day {
                font-size: $font-size-ll;
            }

            .rt-subheader__date-month {
                font-size: $font-size-intermedium;
            }
        }
        
        &.rt-subheader--comunita {
            background-position: right bottom;
        }

        &.rt-subheader--services {
            margin-bottom: $spacing-unit*3;
            .rt-container {
                display: flex;
                align-items: center;
            }
           
            .rt-subheader__content {
                display: flex;
                align-items: baseline;
                margin-right: $spacing-unit*2;
                padding-right: $spacing-unit*2;
            }

            .rt-subheader__search {
                flex: 1;
            }

            .search-bar-search-button-wrapper {
                display: flex;
                border: none;
                box-shadow: none;
            }

            .rt-search-bar {
                flex: 0 0 100%;
                max-width: 100%;

                form {
                    display: flex;
                }

                .rt-form-item {
                    flex: 1;
                    margin-right: $spacing-unit;
                    margin-bottom: 0;

                    input[type="text"],
                    input[type="search"] {
                        font-size: $font-size-s;

                        @include placeholder {
                            font-size: $font-size-s;
                            color: $color-text-label;
                        }
                        
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }

        }

        &.rt-subheader--services-full {
            .rt-subheader__content {
                align-items: center;
                justify-content: center;
            }
        }

        &.rt-subheader--services-detail {
            .rt-subheader__content {
                flex: 2;
                align-items: flex-start;

                [class*="ot-icon"] {
                    margin-right: $spacing-unit*2;
                }
            }
        }

        &.rt-subheader--section-accoglienza-detail {
            .rt-subheader__title {
                font-size: $font-size-ll;
            }

            .rt-subheader__text {
                padding-top: $spacing-unit*2.5;
            }
        }

        &.rt-subheader--section-subsection {
            .rt-subheader__icon {
                width: 102px;
                height: 102px;
                padding-left: $spacing-unit*2;
            }

            .rt-subheader__content {
                display: flex;
            }
        }

        &.rt-subheader--section-partecipazione-home {
            padding-bottom: 10.578%;

            .rt-subheader__logo {
                width: 315px;
                height: 108px;
            }
        }

        &.rt-subheader--stanza {
            &:not(.rt-subheader--proposta) {
                margin-bottom: $spacing-unit*2;

                .rt-subheader__text {
                    padding: $spacing-unit*2.5 $spacing-unit*2 $spacing-unit*2;
                }
            }
        }

        &.rt-subheader--proposta {
            .rt-subheader__text {
                padding: $spacing-unit*2;
            }

            .rt-subheader__steps {
                .rt-steps-bar {
                    @include flex-item-width(50%);
                }
            }

            .rt-btn-light {
                width: auto;
                min-width: initial;

                [class*="fa"] {
                    font-size: $font-size-ll;
                }
            }
        }

        &.rt-subheader--stanza-fasi {
            .rt-subheader__title {
                font-size: $font-size-ll;
            }

            .rt-subheader__subtitle {
                font-size: $font-size-xl;
            }
        }


        .rt-subheader__login {

            max-width: 250px;
            position: absolute;
            top: 0;
            right: 0;

            &, p {
                // font-size: $font-size-s;
            }
        }

        &.rt-subheader--landing {
            padding-bottom: 300px;
        }
    }

    .rt-subheader--stanza {
        /* Removing portlet padding */
        .signed-in:not(.has-control-panel) & {
            &:not(.rt-subheader--proposta) {
                margin-top: -12px;
                margin-right: -$spacing-unit;
                margin-bottom: -$spacing-unit;
                margin-left: -$spacing-unit;
            }

        }
    }

    .rt-subheader__workshop {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        padding-top: $spacing-unit*3;

        .rt-subheader__workshop-label {
            padding-bottom: $spacing-unit*2;
            font-size: $font-size-intermedium;
            text-align: right;
        }

        .rt-subheader__workshop-detail-cta {
            margin-top: auto;
            padding: $spacing-unit*2;
            font-size: $font-size-ml;

            [class*="fa"] {
                font-size: $font-size-l;
            }
        }

        .rt-subheader__workshop-detail {
            padding-bottom: $spacing-unit*1.5;
            font-size: $font-size-ml;

            [class*="fa"] {
                margin-right: $spacing-unit;
                font-size: $font-size-ml;
            }
        }

        .rt-subheader__workshop-detail-place-subtext {
            font-size: $font-size-m;
        }
    }

    .rt-subheader__menu {
        @include hidden-element;
        position: absolute;
        transition: all $transition-durations ease;

        &.is-open {
            position: static;
            @include visible-element(auto);
        }

        .rt-container {
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0;
        }

        .rt-subheader__menu-categories {
            flex: 0 0 100%;
            max-width: 100%;
            padding-bottom: $spacing-unit*2;
        }

        .rt-subheader__menu-excerpt {
            flex: 0 0 25%;
            max-width: 25%;
            padding-top: $spacing-unit*2;
            padding-right: $spacing-unit*2;
            line-height: 1.6;
            font-size: $font-size-s;

            & + .rt-subheader__menu-list {
                flex: 0 0 70%;
                max-width: 70%;
            }
        }

        .rt-subheader__menu-list {
            flex: 1;

            ul {
                display: flex;
                flex-flow: row wrap;
            }

            li {
                flex: 0 0 30.333%;
                max-width: 30.333%;
                margin-right: 3%;
                font-size: $font-size-m;

                a {
                    padding: $spacing-unit*2 0;

                    &:hover,
                    &:focus {
                        color: $color-main;
                    }

                    [class*="fa"] {
                        padding-left: $spacing-unit/2;
                    }
                }
            }

        }

        .rt-subheader__menu-categories-item {
            margin-right: $spacing-unit*3;
            font-size: $font-size-intermedium;

            [class*="fa"] {
                margin-right: $spacing-unit/2;
            }
        }
    }

    .rt-subheader__steps {
        align-items: center;
        margin-bottom: $spacing-unit*2.5;

        .rt-steps-bar {
            @include flex-item-width(100%);
        }

        .rt-steps-join {
            margin-left: auto;
        }

        .rt-steps-counter,
        .rt-steps-view {
            margin-left: $spacing-unit*2;
        }

        .rt-steps-view {
            font-size: $font-size-s;
        }
    }

    .rt-steps-bar {
        margin: 0 0 $spacing-unit*2 0;

        .rt-steps-bar__step {

            height: $step-size;

            &:first-of-type {
               @include flex-item-width($step-size);
            }

            .rt-steps-bar__step-dot {
                width: $step-size;
                height: $step-size;
            }
    
            &.is-active {
                .rt-steps-bar__step-dot {
                    &::before {
                        width: $step-decoration-size;
                        height: $step-decoration-size;
                    }
                }
            }
        }
    }

    .rt-room-text {
        .rt-container {
            padding-right: $spacing-unit*2;
            padding-left: $spacing-unit*2;
        }


        &__title {
            font-size: $font-size-ll;
        }
    
        &__excerpt {
            font-size: $font-size-m;
        }
    }
    
}

@media all and (min-width: $breakpoint-laptop) {
    .rt-subheader {
    }

    .rt-subheader__workshop {

        .rt-subheader__workshop-detail-cta {
            padding: $spacing-unit*3;
            font-size: $font-size-l;
        }

        .rt-subheader__workshop-detail {
            font-size: $font-size-ll;

            [class*="fa"] {
                margin-right: $spacing-unit;
                font-size: $font-size-ml;
            }
        }
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {
    .rt-subheader {

        &.rt-subheader--has-image {
            &.rt-subheader--section {
                padding-bottom: 13.334%;

                &.rt-subheader--section-accoglienza-detail {
                    padding-bottom: 39.584%;
                }
        
                &:not(.rt-subheader--section-accoglienza-detail) {
                    .rt-subheader__content {
                        padding: $spacing-unit*6 0 $spacing-unit;
                    }
                }

                &.rt-subheader--index-intermedium {
                    .rt-subheader__content {
                        padding: $spacing-unit*2;
                    }
                }

                &.rt-subheader--section-accoglienza-home {
                    padding-bottom: 25%;
    
                    [class*="openico"] {
                        font-size: 90px;
                    }
                }

                &.rt-subheader--internal-page {
                    padding-bottom: 20%;
                }
            }

            &.rt-subheader--home {
                padding-bottom: 20.834%;
            }

            &.rt-subheader--landing {
                padding-bottom: 450px;
            }
        }

        &.rt-subheader--landing {
            margin-bottom: $spacing-unit*6;
            
            .rt-subheader__title {
                margin-bottom: $spacing-unit*2;
                font-size: $font-size-xxl;
            }
            
            .rt-subheader__description-block {
                margin-bottom: $spacing-unit*1.5;
                font-size: $font-size-2l;
            }

            .rt-subheader__action-text {
                font-size: $font-size-2l;
            }

            .rt-subheader__description {
                margin-bottom: $spacing-unit*1.5;
            }
        }

        &.rt-subheader--section-accoglienza-detail {
            .rt-subheader__title {
                font-size: $font-size-xl;
            }
        }

        &.rt-subheader--details {
            .rt-subheader__content {
                padding: $spacing-unit*4 0 $spacing-unit*6;
            }

            .rt-subheader__title-wrapper {
                padding-left: $spacing-unit*3;
            }

            .rt-subheader__title,
            .rt-subheader__subtitle  {
                font-size: $font-size-xl;
            }
        }

        .rt-subheader__label {
            padding: $spacing-unit*1.5 $spacing-unit*4;
            font-size: $font-size-intermedium;
        }

        &.rt-subheader--home {
            .rt-subheader__content {
                width: 50%;
            }
        }

        .rt-subheader__title {
            font-size: $font-size-xxxl;

            &.rt-subheader__title--main {
                font-size: $font-size-extra;
            }

            .rt-subheader__icon {
                font-size: $font-size-extra;
            }
        }

        .rt-subheader__subtitle {
            font-size: $font-size-xl;
        }

        &.rt-subheader--section-subsection {
            .rt-subheader__icon {
                width: 137px;
                height: 137px;
            }
        }

        .rt-subheader__section-icon {
            width: 107px;
            height: 107px;
        }

        &.rt-subheader--stanza {

            &:not(.rt-subheader--proposta) {
                // margin-bottom: $spacing-unit*3.5;

                .rt-subheader__text {
                    padding: $spacing-unit*4 $spacing-unit*4 $spacing-unit;
                }
            }
        
        }

        &.rt-subheader--proposta {

            .rt-subheader__title {
                margin-bottom: 0;
                flex: 1;
            }
        
            .rt-subheader__steps {

                .rt-subheader__title {
                    margin-right: $spacing-unit*2;
                    font-size: $font-size-l;
                }
               
                .rt-steps-bar {
                    margin-left: auto;
                    @include flex-item-width(25%);
                }

                .rt-steps-bar__step {
                    height: $step-size-small;
                }

                .rt-steps-bar__step-dot {
                    width: $step-size-small;
                    height: $step-size-small;

                    &::before {
                        width: $step-decoration-size-small;
                        height: $step-decoration-size-small;
                    }
                }
            }
        }

    }

    .rt-subheader__menu {

        .rt-subheader__menu-categories {
            padding-bottom: $spacing-unit*4;
        }

        .rt-subheader__menu-excerpt {
            padding-right: $spacing-unit*4;
            font-size: $font-size-m;
        }

        .rt-subheader__menu-list {
        }
    }

    .rt-subheader__steps {
        flex-flow: row nowrap;

        .rt-steps-bar {
            @include flex-item-width(290px);
            margin-bottom: 0;
        }
    }

    .rt-room-text {
        &__title {
            font-size: $font-size-xl;
        }
    
    }
}

@media all and (min-width: $breakpoint-ipad-portrait) and (max-width: $ui-width + $spacing-unit*4) {
    .rt-subheader {
        &.rt-subheader--stanza {
            &:not(.rt-subheader--has-image) {

                .rt-container {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }
}

@media all and (min-width: $ui-width) {

    .rt-subheader {
        &.rt-subheader--has-image {
            &.rt-subheader--section {
                padding-bottom: $subheader-height;

                &.rt-subheader--section-accoglienza-home {
                    padding-bottom: $subheader-height-medium;
                }

                &.rt-subheader--section-accoglienza-detail {
                    padding-bottom: $subheader-height-big;
                }

                &.rt-subheader--section-startup-detail {
                    padding-bottom: 396px;
                }

                &.rt-subheader--section-collabora {
                    padding-bottom: $subheader-height-collabora;
                }
            }

            &.rt-subheader--landing {
                padding-bottom: 575px;
            }
        }

        &.rt-subheader--stanza {
            &:not(.rt-subheader--proposta):not(.rt-subheader--stanza-new) {
                // margin-bottom: $spacing-unit*4.5;

                .rt-subheader__text {
                    padding: $spacing-unit*10 $spacing-unit*2.5 $spacing-unit;
                }
            }

        }

        &.rt-subheader--proposta {
            .rt-subheader__text {
                padding: $spacing-unit*2 $spacing-unit*3;
            }
        }

        &.rt-subheader--landing {

            .rt-subheader__title {
                margin-bottom: $spacing-unit*4;
                font-size: $font-size-xxxl;
            }
            
            .rt-subheader__description-block {
                margin-bottom: $spacing-unit*3;
                font-size: $font-size-2m;
            }

            .rt-subheader__action {
                padding-top: 0;
            }

            .rt-subheader__action-text {
                font-size: $font-size-2m;
            }

            .rt-subheader__description {
                margin-bottom: $spacing-unit*4;
            }
        }
    }
}

// @media all and (min-width: $breakpoint-laptop) {
//     .rt-subheader {
//     }
// }