/**
 * VIDEOS
 *
 * Videos section style
 */

/* ------------------------------------ *\
   #VIDEO
\* ------------------------------------ */

.rt-videos {
    .rt-section-title {
        display: flex;
        font-size: $font-size-ml;
        font-weight: $font-weight-bold;

        [class*="fa"] {
            margin-right: $spacing-unit;
            font-size: $font-size-l;
            color: $color-text-label;
        }
    }

    .rt-section-title-wrapper {
        padding: $spacing-unit*2 0;
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait - 1) {
    .rt-videos {
        .rt-videos__list {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            overflow-x: auto;

            .rt-box-video {
                flex: 0 0 auto;
                width: 80%;
                margin-right: 2%;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

@media all and (min-width: $breakpoint-ipad-portrait) {
    .rt-videos {
        .rt-container {
            display: flex;
            flex-flow: row wrap;
        }

        .rt-section-title-wrapper {
            padding: $spacing-unit*3 0;
        }

        .rt-section-title {
            font-size: $font-size-l;

            [class*="fa"] {
                margin-right: $spacing-unit*2;
                font-size: $font-size-xl;
            }
        }

        .rt-box-video--highlight {
            flex: 0 0 68%;
            max-width: 68%;
        }

        .rt-videos__list {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            padding-left: 5%;
            flex: 1;
        }
    }

}

@media all and (min-width: $breakpoint-laptop) {
}

@media all and (min-width: $breakpoint-laptop-wide) {
}

@media all and (min-width: $ui-width) {
    .rt-videos {

        .rt-box-video--highlight {
            flex: 0 0 66.5%;
            max-width: 66.5%;
        }
    }
}

@media all and (min-width: $breakpoint-laptop-wide) {
}