---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle} - Open Toscana</title>
    
    <link rel="stylesheet" href="https://open.toscana.it/o/open-toscana-restyled-theme/css/clay.css" />
    <link rel="stylesheet" href="https://open.toscana.it/o/open-toscana-restyled-theme/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body class="public-page">
    
    <nav aria-label="Collegamenti Veloci" class="sr-only sr-only-focusable">
      <a href="#main-content">Salta al contenuto principale</a>
    </nav>

    <div class="pt-0 rt-portal-content" id="wrapper">
      
      <Header />

      <main id="main-content">
        <slot />
      </main>

      <Footer />

    </div>
    <script is:inline src="/js/vendors/flexslider/jquery.flexslider.js"></script>
    <script is:inline src="/js/vendors/slick/slick.js"></script>
    
</body>
</html>